Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

docs: add citations to Future Research Directions section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs: add citations to Illustrative Application section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: format validated query pairs paragraph as numbered list
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: explicit term linking in Illustrative Application section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: remove inconsistent bolding in Pillar 3 section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: update Table 3 formatting and logic
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: align text terminology with Table 3 rubric labels
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Implementation Patterns section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Golden Queries section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to What the Framework Reveals section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: streamline Conclusion section with improved citations
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add lit_review to README and update artifacts
  README.md
  paper.html
  paper.md
  paper.tex
Due: validate-jmir-compliance

docs: merge glossary into abbreviations and renumber appendices
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: attribute HIMSS AMAM model in Appendix A
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs: add rationale fields to NL2SQL examples in Appendix B
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

refactor(bib): add URLs to 20 references
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  references.bib
Due: none

docs: update cover letter with current framework findings
  submission/cover-letter.md
Due: none

docs: generate cover letter artifacts (DOCX, HTML, PDF)
  submission/cover-letter.docx
  submission/cover-letter.html
  submission/cover-letter.pdf
Due: none

docs: finalize bibliography and re-integrate relevant citations
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
  references_paper2.bib
Due: validate-jmir-compliance

docs: update Figure 3 source and caption with correct citation count (n=137)
  figures/literature-flow.mmd
  figures/literature-flow.mmd.png
  figures/literature-flow.mmd.svg
  paper.docx
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: validate-jmir-compliance

docs: reformat cover letter author and signature sections
  submission/cover-letter.docx
  submission/cover-letter.html
  submission/cover-letter.md
  submission/cover-letter.pdf
Due: none

feat: generate labeled visual abstract with python script
  figures/visual-abstract-labeled.png
  scripts/overlay_labels.py
Due: spdx-headers
