Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

gemini-md-frontmatter:
  name: Check GEMINI.md has YAML frontmatter
  entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

validate-jmir-compliance:
  name: Validate JMIR compliance
  entry: python scripts/validate_jmir_compliance.py
  language: python
  pass_filenames: false

docs(research): add centralized models vs shadow IT research
  docs/research/Research_Centralized-Semantic-Models-vs-Shadow-IT.md
  docs/research/Research_Questions.md
Due: none

docs(research): add knowledge ratchet, lean, and HITL research
  docs/research/Research_Questions.md
  docs/research/Research_frameworks-for-provisional-validation-and-hitl.md
  docs/research/Research_lean-standard-work-and-kaizen.md
  docs/research/Research_procedural-artifacts-as-knowledge-ratchet.md
Due: none

fix(paper): revise manuscript for issue #418
  paper.md
  references.bib
Due: validate-jmir-compliance

docs(paper): address PR review comments
  paper.md
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(tools): correct regex in maintain_gemini_context.py
  tools/maintain_gemini_context.py
Due: spdx-headers

docs: update cover letter and paper for January 2026 submission
  metadata.yaml
  paper.md
  submission/cover-letter.md
Due: validate-jmir-compliance

build: regenerate paper artifacts (v1.20.0)
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(research): confirm verification of 11 new citations
  docs/research/Research_Confirmed.md
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

docs: rename Benbya 2004 PDF and update verification log
  docs/references/2004_Benbya_IJIM_Corporate-Portal-Knowledge-Management.pdf
  docs/research/Research_Confirmed.md
  references.bib
Due: none

docs: rename Richesson 2007 PDF and update bibtex
  docs/references/2007_Richesson_JAMIA_Data-Standards-Clinical-Research.pdf
  references.bib
Due: none

fix(docs): refactor PDF references to library/docs/ and remove local files
  GEMINI.md
  data/README.md
  decrypted.pdf
  docs/guides/journal-submission-guide.md
  docs/guides/scholar-labs-workflow.md
  docs/references/2004_Ang_ACM-SIGMIS_IT-Professional-Turnover.pdf
  docs/references/2004_Benbya_IJIM_Corporate-Portal-Knowledge-Management.pdf
  docs/references/2007_Richesson_JAMIA_Data-Standards-Clinical-Research.pdf
  docs/references/2010_Mantas_Methods-Informatics-Medicine_IMIA-Health-Informatics-Education.pdf
  docs/references/2013_Ledikwe_HR-For-Health_Health-Information-Workforce.pdf
  docs/references/2016_DeCanio_J-Macroeconomics_Robots-and-Humans.pdf
  docs/references/2018_Kamble_Healthcare-Management_Big-Data-Organizational-Readiness.pdf
  docs/references/2018_Wang_Tech-Forecasting_Big-Data-Analytics-Healthcare.pdf
  docs/references/2019_Martin_NPJ-Digital-Med_Digital-Maturity-Outcomes-UK.pdf
  docs/references/2019_Wang_arXiv_Medical-NL2SQL-MIMIC.pdf
  docs/references/2020_Health-Catalyst_Healthcare-Analytics-Adoption.pdf
  docs/references/2021_CNBC_Haven-Healthcare-Venture-Disbanded.pdf
  docs/references/2021_Saint-Ulysse_ProQuest_EHR-Maturity-Readmission.pdf
  docs/references/2022_IBM_Watson-Health-Sale-Announcement.pdf
  docs/references/2023_AHIMA-NORC_Health-Information-Workforce-Survey.pdf
  docs/references/2023_Lee_arXiv_EHRSQL-Text-to-SQL-Benchmark.pdf
  docs/references/2023_Musa_JMDH_EHR-Training-Healthcare-Workers.pdf
  docs/references/2023_Navarro_Medical-Informatics_Clinical-NLP-EHR-Systematic-Review.pdf
  docs/references/2024_Forrester_ROI-Microsoft-Power-Apps.pdf
  docs/references/2024_HIMSS_Analytics-Maturity-Adoption-Model.pdf
  docs/references/2024_Oracle_Healthcare-Turnover-Cost-Report.pdf
  docs/references/2024_Precedence-Research_Healthcare-Analytics-Market-Forecast.pdf
  docs/references/2024_Ren_Nursing-Management_Nursing-Turnover-Systematic-Review.pdf
  docs/references/2024_Snowdon_JMIR_Digital-Maturity-Outcomes.pdf
  docs/references/2024_Snowdon_Patient-Experience_Digital-Maturity-Strategy.pdf
  docs/references/2024_UK-NHS_Citizen-Developer-Programme.pdf
  docs/references/2024_Wu_Nursing-Open_Nursing-Staff-Turnover-Meta-Analysis.pdf
  docs/references/2024_Ziletti_arXiv_EHR-RAG-NL2SQL.pdf
  docs/references/2025_Anthropic_Code-Modernization-Playbook.pdf
  docs/references/2025_Jiang_NEJM-AI_MedAgentBench-EHR-LLM-Agents.pdf
  docs/references/2025_Wu_npj-Digital-Medicine_Medical-LLM-Evaluation.pdf
  docs/references/README.md
  docs/research/Research_Confirmed.md
  references.bib
  tools/run_scholar_workflow.py
Due: gemini-md-frontmatter, spdx-headers

fix(tools): use absolute path for REFS_DIR with env var override
  tools/run_scholar_workflow.py
Due: spdx-headers

docs(gemini): update all GEMINI.md files and sync bibliographic database
  .gitignore
  docs/references/README.md
  docs/research/Research_Confirmed.md
  docs/research/Research_How-have-healthcare-organizations-measured-productivity-gains-from-NL2SQL-vs-traditional-SQL.md
  docs/research/Research_What-efficiency-metrics-have-been-reported-for-NL2SQL-or-conversational-analytics-in-healthcare.md
  docs/research/Research_What-evidence-supports-applying-code-modernization-principles-to-natural-language-interfaces-for-legacy-data-access.md
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  pyproject.toml
  references.bib
  secrets.toml
  uv.lock
Due: none

chore: disable dispatch workflow
  .github/workflows/gemini-dispatch.yml.disabled
Due: none

chore(github): update workflows and commands from templates
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/copilot-instructions.md
  .github/instructions/codacy.instructions.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/gemini-dispatch.yml.disabled
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/gemini.yml
  .github/workflows/secrets-example.yml
  .github/workflows/tests.yml
Due: none

fix(tests): update import paths from .claude to .gemini
  tests/skills/conftest.py
  tests/skills/test_azure_adapter.py
  tests/skills/test_github_adapter.py
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_quality_gates.py
  tests/skills/test_release_integration.py
  tests/skills/test_release_workflow.py
  tests/skills/test_semantic_version.py
  tests/skills/test_vcs_provider.py
Due: spdx-headers

fix: resolve lit_review and skills test regressions
  lit_review/infrastructure/adapters/arxiv_adapter.py
  lit_review/infrastructure/adapters/pubmed_adapter.py
  lit_review/infrastructure/adapters/semantic_scholar_adapter.py
  lit_review/infrastructure/persistence/json_repository.py
  tests/conftest.py
  tests/lit_review/infrastructure/adapters/test_arxiv_adapter.py
  tests/lit_review/infrastructure/adapters/test_pubmed_adapter.py
  tests/lit_review/infrastructure/adapters/test_semantic_scholar_adapter.py
  tests/lit_review/infrastructure/persistence/test_json_repository.py
  tests/lit_review/integration/test_full_workflow.py
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
  tests/skills/ARCHIVED/GEMINI.md
  tests/skills/GEMINI.md
  tests/skills/conftest.py
  tests/skills/test_check_spdx_headers.py
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_quality_enforcer.py
  tests/skills/test_quality_gates.py
  tests/skills/test_release_workflow.py
Due: gemini-md-frontmatter, spdx-headers

fix: resolve module import issues in skills tests and CI
  tests/lit_review/infrastructure/ai/test_claude_analyzer.py
  tests/skills/conftest.py
  tests/skills/test_azure_adapter.py
  tests/skills/test_github_adapter.py
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_release_workflow.py
  tests/skills/test_semantic_version.py
  tests/skills/test_vcs_provider.py
Due: spdx-headers

fix: resolve module imports via pytest.ini pythonpath
  pytest.ini
  tests/skills/conftest.py
Due: spdx-headers

fix: move skills paths to global tests/conftest.py
  pytest.ini
  tests/conftest.py
Due: spdx-headers

debug: add prints to verify skills paths in container
  tests/conftest.py
Due: spdx-headers

fix: set PYTHONPATH in Containerfile for skills scripts
  Containerfile
  tests/conftest.py
Due: spdx-headers

fix: set PYTHONPATH in podman-compose.yml for container tests
  Containerfile
  podman-compose.yml
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

fix: use absolute paths for skills in tests/conftest.py
  tests/conftest.py
Due: spdx-headers

fix: set PYTHONPATH explicitly in Tests workflow
  .github/workflows/tests.yml
  podman-compose.yml
  tests/conftest.py
Due: spdx-headers

fix: add noqa: E402 to imports following sys.path.insert (v2)
  tests/skills/test_azure_adapter.py
  tests/skills/test_github_adapter.py
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_release_workflow.py
  tests/skills/test_semantic_version.py
  tests/skills/test_vcs_provider.py
Due: spdx-headers

debug: add verify skills directory step to tests.yml
  .github/workflows/tests.yml
Due: none

debug: list /app directory in container
  .github/workflows/tests.yml
Due: none

docs: archive legacy CLAUDE.md
  ARCHIVED/20260105T010346Z_legacy-claude-docs.zip
  figures/CLAUDE.md
Due: none

docs(paper): integrate 2025 HIMSS AMAM research findings
  GEMINI.md
  docs/GEMINI.md
  docs/research/Research_HIMSS-AMAM-Stage-Distribution-Research.md
  paper.md
  references.bib
Due: gemini-md-frontmatter, validate-jmir-compliance

chore(github): revert setup-github changes and remove gemini workflows
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/instructions/codacy.instructions.md
  .github/workflows/gemini-dispatch.yml.disabled
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .github/workflows/gemini.yml
  .github/workflows/secrets-example.yml
  .github/workflows/tests.yml
Due: none

docs(paper): implement Copilot review suggestions
  paper.md
Due: validate-jmir-compliance

Path conditions:
  gemini-md-frontmatter: any of: GEMINI\.md$
  skill-structure: any of: ^\.gemini/skills/
  spdx-headers: any of: \.py$
  validate-jmir-compliance: any of: ^(paper\.md|metadata\.yaml)$
