Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): attribute institutional amnesia construct to its literatures
  paper.md
  references.bib
Due: validate-jmir-compliance

fix(paper): reduce manuscript to JMIR word limit; add JMIR-method counter
  CLAUDE.md
  multimedia_appendix_2.caption.txt
  multimedia_appendix_2.md
  paper.md
  scripts/validate_jmir_compliance.py
  tests/test_validate_jmir_compliance.py
Due: spdx-headers, validate-jmir-compliance

fix(paper): bordered DOCX tables and numbered figure/table captions
  metadata.yaml
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  reference.docx
Due: validate-jmir-compliance

docs(submission): R2 response letter and resubmission package
  ARCHIVED/20260712_IJMR-Submission/20260710_abstract-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.md
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.pdf
  ARCHIVED/20260712_IJMR-Submission/20260710_response-to-reviewers_sectionB-paste.txt
  ARCHIVED/20260712_IJMR-Submission/20260710_title-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/CITATION.cff
  ARCHIVED/20260712_IJMR-Submission/Containerfile
  ARCHIVED/20260712_IJMR-Submission/build_paper.sh
  ARCHIVED/20260712_IJMR-Submission/citation-style-ama.csl
  ARCHIVED/20260712_IJMR-Submission/figures/architecture.figure.png
  ARCHIVED/20260712_IJMR-Submission/figures/architecture.mmd.caption.txt
  ARCHIVED/20260712_IJMR-Submission/figures/architecture.mmd.png
  ARCHIVED/20260712_IJMR-Submission/figures/knowledge-cycle.figure.png
  ARCHIVED/20260712_IJMR-Submission/figures/knowledge-cycle.mmd.caption.txt
  ARCHIVED/20260712_IJMR-Submission/figures/knowledge-cycle.mmd.png
  ARCHIVED/20260712_IJMR-Submission/metadata.yaml
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.caption.txt
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.md
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.caption.txt
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.md
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.md
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  ARCHIVED/20260712_IJMR-Submission/pyproject.toml
  ARCHIVED/20260712_IJMR-Submission/reference.docx
  ARCHIVED/20260712_IJMR-Submission/references.bib
  ARCHIVED/20260712_IJMR-Submission/submission-checklist.md
  docs/20260710_abstract-plaintext.txt
  docs/20260710_i-jmr-r2-response-to-reviewers.md
  docs/20260710_i-jmr-r2-response-to-reviewers.pdf
  docs/20260710_response-to-reviewers_sectionB-paste.txt
  docs/20260710_tracked-changes_R1-to-R2.docx
Due: none

fix(paper): update submission date literals to July 2026
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/metadata.yaml
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.md
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  docs/20260710_tracked-changes_R1-to-R2.docx
  metadata.yaml
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(paper): expand SECI at first use in abstract and body
  ARCHIVED/20260712_IJMR-Submission/20260710_abstract-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.md
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  docs/20260710_abstract-plaintext.txt
  docs/20260710_tracked-changes_R1-to-R2.docx
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs(appendix): align Appendix 1 cycle framing with Figure 2
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.md
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.md
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(appendix): mark Appendix 1 worked examples as synthetic
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.md
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.md
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.pdf
Due: none

docs(submission): complete R2 package with all R1 submission documents
  ARCHIVED/20260712_IJMR-Submission/.zenodo.json
  ARCHIVED/20260712_IJMR-Submission/20260115_AJE_Invoice_SL73WR5YH_redacted.png
  ARCHIVED/20260712_IJMR-Submission/20260605_Editor-Decision-D_Major-Revisions.pdf
  ARCHIVED/20260712_IJMR-Submission/20260607_response-to-reviewers.md
  ARCHIVED/20260712_IJMR-Submission/20260607_response-to-reviewers.pdf
  ARCHIVED/20260712_IJMR-Submission/20260607_response-to-reviewers_metadata.txt
  ARCHIVED/20260712_IJMR-Submission/20260607_response-to-reviewers_sectionB-paste.txt
  ARCHIVED/20260712_IJMR-Submission/20260615_AJE_Terms-of-Service.pdf
  ARCHIVED/20260712_IJMR-Submission/20260615_IJMR-Resubmission-Form.pdf
  ARCHIVED/20260712_IJMR-Submission/20260615_abstract-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260615_title-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260615_tracked-changes_reviewed-to-R1.docx
  ARCHIVED/20260712_IJMR-Submission/20260615_tracked-changes_reviewed-to-R1_metadata.txt
  ARCHIVED/20260712_IJMR-Submission/20260615_visual-abstract_toc-image.png
  ARCHIVED/20260712_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
  ARCHIVED/20260712_IJMR-Submission/CLAUDE.md
  ARCHIVED/20260712_IJMR-Submission/LICENSE
  ARCHIVED/20260712_IJMR-Submission/NOTICE
  ARCHIVED/20260712_IJMR-Submission/README.md
  ARCHIVED/20260712_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260712_IJMR-Submission/cover-letter.md
  ARCHIVED/20260712_IJMR-Submission/cover-letter.pdf
  ARCHIVED/20260712_IJMR-Submission/figures/architecture.mmd
  ARCHIVED/20260712_IJMR-Submission/figures/architecture.mmd.svg
  ARCHIVED/20260712_IJMR-Submission/figures/knowledge-cycle.mmd
  ARCHIVED/20260712_IJMR-Submission/figures/knowledge-cycle.mmd.svg
  ARCHIVED/20260712_IJMR-Submission/figures/mermaid-styles.css
  ARCHIVED/20260712_IJMR-Submission/figures/puppeteer-config.json
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.html
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.html
  ARCHIVED/20260712_IJMR-Submission/scripts/audit_references.py
  ARCHIVED/20260712_IJMR-Submission/scripts/build_paper.sh
  ARCHIVED/20260712_IJMR-Submission/scripts/validate_jmir_compliance.py
  ARCHIVED/20260712_IJMR-Submission/scripts/validate_references.py
  ARCHIVED/20260712_IJMR-Submission/submission-checklist.md
  ARCHIVED/20260712_IJMR-Submission/uv.lock
  submission-checklist.md
Due: spdx-headers

docs(submission): rewrite cover letter for R2 (Decision B)
  ARCHIVED/20260712_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260712_IJMR-Submission/cover-letter.md
  ARCHIVED/20260712_IJMR-Submission/cover-letter.pdf
  cover-letter.docx
  cover-letter.md
  cover-letter.pdf
Due: none

docs(submission): correct stale and understated figures in response letter
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.md
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.pdf
  ARCHIVED/20260712_IJMR-Submission/20260710_response-to-reviewers_sectionB-paste.txt
  ARCHIVED/20260712_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260712_IJMR-Submission/cover-letter.md
  ARCHIVED/20260712_IJMR-Submission/cover-letter.pdf
  cover-letter.docx
  cover-letter.md
  cover-letter.pdf
  docs/20260710_i-jmr-r2-response-to-reviewers.md
  docs/20260710_i-jmr-r2-response-to-reviewers.pdf
  docs/20260710_response-to-reviewers_sectionB-paste.txt
Due: none

docs(submission): add tracked-changes metadata companion (R1 convention)
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2_metadata.txt
  docs/20260710_tracked-changes_R1-to-R2_metadata.txt
Due: none

fix(docs): hard line breaks in cover letter signature block
  ARCHIVED/20260712_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260712_IJMR-Submission/cover-letter.md
  ARCHIVED/20260712_IJMR-Submission/cover-letter.pdf
  cover-letter.docx
  cover-letter.md
  cover-letter.pdf
Due: none

build: refresh package with author-validated artifact rebuild
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  docs/validation_report.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(refs): correct URL hyperlinks; rebuild allowlist with verified URLs
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  ARCHIVED/20260712_IJMR-Submission/references.bib
  docs/20260710_tracked-changes_R1-to-R2.docx
  docs/validation_report.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  references.bib
  scripts/url_allowlist.json
Due: none

fix(refs): apply confirmed publisher URLs across 22 references
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/references.bib
  docs/20260710_tracked-changes_R1-to-R2.docx
  docs/validation_report.md
  docs/validation_report_edited.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.pdf
  references.bib
  scripts/url_allowlist.json
Due: none

docs: retire stale descriptions of paper.md and references.bib
  ARCHIVED/20260712_IJMR-Submission/references.bib
  CLAUDE.md
  docs/CLAUDE.md
  references.bib
Due: none

docs(submission): clean response PDF (internal notes stripped) + metadata
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.pdf
  ARCHIVED/20260712_IJMR-Submission/20260710_response-to-reviewers_metadata.txt
  ARCHIVED/20260712_IJMR-Submission/scripts/url_allowlist.json
  docs/20260710_i-jmr-r2-response-to-reviewers.pdf
  docs/20260710_response-to-reviewers_metadata.txt
  docs/validation_report.md
Due: none

fix(docs): render response-PDF section dividers as headings (R1 format)
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.pdf
  docs/20260710_i-jmr-r2-response-to-reviewers.pdf
Due: none

fix(refs): repair 14 malformed author fields; sync response letter count
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.md
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.pdf
  ARCHIVED/20260712_IJMR-Submission/20260710_response-to-reviewers_sectionB-paste.txt
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.html
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  ARCHIVED/20260712_IJMR-Submission/references.bib
  docs/20260710_i-jmr-r2-response-to-reviewers.md
  docs/20260710_i-jmr-r2-response-to-reviewers.pdf
  docs/20260710_response-to-reviewers_sectionB-paste.txt
  docs/20260710_tracked-changes_R1-to-R2.docx
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  references.bib
Due: none

fix(ci): pin pandoc 3.8.2.1 in container; add AMA-rendering guard
  .github/workflows/pdf-generation.yml
  CLAUDE.md
  Containerfile
  paper.docx
Due: none

docs(submission): 20260711 title/abstract/keywords plaintext set
  ARCHIVED/20260712_IJMR-Submission/20260710_i-jmr-r2-response-to-reviewers.md
  ARCHIVED/20260712_IJMR-Submission/20260711_abstract-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260711_keywords-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/20260711_title-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/submission-checklist.md
  docs/20260710_i-jmr-r2-response-to-reviewers.md
  docs/20260711_abstract-plaintext.txt
  docs/20260711_keywords-plaintext.txt
  docs/20260711_title-plaintext.txt
  submission-checklist.md
Due: none

feat(paper): add organizational-forgetting and human-in-the-loop keywords
  ARCHIVED/20260712_IJMR-Submission/20260710_tracked-changes_R1-to-R2.docx
  ARCHIVED/20260712_IJMR-Submission/20260711_keywords-plaintext.txt
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.docx
  ARCHIVED/20260712_IJMR-Submission/multimedia_appendix_2.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.docx
  ARCHIVED/20260712_IJMR-Submission/paper.html
  ARCHIVED/20260712_IJMR-Submission/paper.md
  ARCHIVED/20260712_IJMR-Submission/paper.pdf
  ARCHIVED/20260712_IJMR-Submission/paper.tex
  docs/20260710_tracked-changes_R1-to-R2.docx
  docs/20260711_keywords-plaintext.txt
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs(submission): archive submitted R2 manuscript (system file)
  ARCHIVED/20260712_IJMR-Submission/96541-1518835-1-ED.docx
  references.bib
Due: none

chore(release): bump version to 4.0.0 for i-JMR ms#96541 R2 submission
  .zenodo.json
  CITATION.cff
  pyproject.toml
Due: none

docs(status): Paper 1 R2 submitted; v4.0.0 released
  project-status.md
Due: none
