Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

gemini-md-frontmatter:
  name: Check GEMINI.md has YAML frontmatter
  entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

validate-jmir-compliance:
  name: Validate JMIR compliance
  entry: python scripts/validate_jmir_compliance.py
  language: python
  pass_filenames: false

docs(GEMINI.md): update all context files and add figures
  figures/visual-abstract-labeled.png
  figures/visual-abstract.png
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs: migrate from Claude to Gemini and repair build pipeline
  .github/copilot-instructions.md
  .gitignore
  ARCHITECTURE.md
  ARCHIVED/20250115_Springer-Nature-Author-Service_Request-Visual-Abstract-Video-Byte.md
  GEMINI.md
  README.md
  docs/guides/pdf-generation.md
  docs/reports/citation-audit-report.md
  docs/research/Research_Questions.md
  docs/research/Research_What-healthcare-benchmarks-exist-for-latest-foundation-models-2025-2026.md
  lit_review/README.md
  lit_review/application/ports/ai_analyzer.py
  lit_review/infrastructure/ai/gemini_analyzer.py
  metadata.yaml
  multimedia_appendix.docx
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  older_claude_tests.py
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  project-management.md
  project-management/methodology-validation-checklist.md
  pyproject.toml
  scripts/build_paper.sh
  scripts/html_to_pdf.js
  scripts/validate_jmir_compliance.py
  submission/submission-checklist.md
  tests/lit_review/infrastructure/ai/test_gemini_analyzer.py
  tests/test_validate_jmir_compliance.py
  tools/validation/test_command_syntax.sh
  tools/validation/test_content_duplication.sh
  tools/validation/test_cross_references.sh
  tools/validation/test_file_size.sh
  uv.lock
Due: gemini-md-frontmatter, spdx-headers, validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(research): answer institutional learning, efficiency metrics, and clinical safety questions
  docs/research/Research_Clinical-Safety-and-Security-Considerations-for-AI-Assisted-Healthcare-Analytics.md
  docs/research/Research_How-have-others-measured-institutional-learning-in-analytics-or-BI-systems.md
  docs/research/Research_Questions.md
  docs/research/Research_What-efficiency-metrics-have-been-reported-for-NL2SQL-or-conversational-analytics-in-healthcare.md
Due: none

docs(paper): integrate efficiency metrics and update Figure 3 paper counts
  figures/literature-flow.mmd
  paper.md
  references.bib
Due: validate-jmir-compliance

docs(paper): integrate final research findings on clinical impact and tacit knowledge
  paper.md
Due: validate-jmir-compliance

docs(research): answer all remaining Paper 1 research questions
  docs/research/Research_Questions.md
  docs/research/Research_Synthetic-Data-and-Reproducible-Benchmarking-for-Healthcare-NL2SQL.md
  docs/research/Research_Tacit-Knowledge-Documentation-and-Clinical-Impacts.md
  docs/research/Research_procedural-artifacts-as-knowledge-ratchet.md
  paper.pdf
Due: none

build: update paper and appendix artifacts with final research findings
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(research): answer final Paper 1 research questions
  docs/research/Research_frameworks-for-provisional-validation-and-hitl.md
Due: none

docs(appendix): update quality metrics rationale with CMS HRRP source
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  paper.docx
  paper.pdf
Due: none

build: finalize paper and appendix artifacts for submission
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(docx): format tables to prevent unwanted line breaks and add appendix docx generation
  multimedia_appendix.docx
  multimedia_appendix.md
  paper.docx
  paper.md
  scripts/build_paper.sh
Due: validate-jmir-compliance

fix(docx): widen table columns to prevent wrapping
  multimedia_appendix.docx
  multimedia_appendix.md
  paper.docx
  paper.md
Due: validate-jmir-compliance

build: update binary artifacts
  multimedia_appendix.html
  multimedia_appendix.pdf
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(docx): widen Table 1 columns and un-abbreviate Semantic Scholar
  multimedia_appendix.docx
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(docx): widen Table 2 and Table 3 columns to prevent line wrapping
  multimedia_appendix.docx
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(docx): significantly widen Table 2 and Table 3 columns
  multimedia_appendix.docx
  multimedia_appendix.pdf
  paper.docx
  paper.pdf
Due: none

fix(docx): significantly widen Table 2 and Table 3 columns
  multimedia_appendix.docx
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  paper.docx
  paper.pdf
Due: none

fix(docx): apply strict table formatting (no bold, wide columns) [skip ci]
  multimedia_appendix.docx
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(paper): convert tables to pipe format, bold abstract headers, and rebuild artifacts
  multimedia_appendix.docx
  multimedia_appendix.html
  multimedia_appendix.md
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(paper): refine table formatting with line breaks, increase column width, and re-number tables
  multimedia_appendix.docx
  multimedia_appendix.pdf
  paper.html
  paper.md
  paper.tex
Due: validate-jmir-compliance

fix(paper): optimize column width and line breaks in Table 2
  multimedia_appendix.docx
  multimedia_appendix.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): scale Figure 2 and optimize Table 2 line breaks
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): split multimedia appendix and fix formatting issues
  multimedia_appendix.docx
  multimedia_appendix.pdf
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.md
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.md
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.manual.docx
  paper.manual.pages
  paper.md
  paper.pdf
  paper.tex
  scripts/build_paper.sh
  status-updates.md
Due: validate-jmir-compliance

docs(appendix): add caption for multimedia appendix 1
  multimedia_appendix_1.caption.txt
Due: none

docs(appendix): add caption for multimedia appendix 2
  multimedia_appendix_2.caption.txt
Due: none

chore(docs): remove redundant decrypted.pdf artifact
  decrypted.pdf
Due: none

docs(figures): add caption for literature flow diagram
  figures/literature-flow.mmd.caption.txt
Due: none

fix(figures): scale architecture diagram to max 1200px dimension for JMIR compliance
  figures/architecture.mmd.png
Due: none

docs(figures): add figure captions
  figures/architecture.mmd.caption.txt
Due: none

Path conditions:
  gemini-md-frontmatter: any of: GEMINI\.md$
  skill-structure: any of: ^\.gemini/skills/
  spdx-headers: any of: \.py$
  validate-jmir-compliance: any of: ^(paper\.md|metadata\.yaml)$
