Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

gemini-md-frontmatter:
  name: Check GEMINI.md has YAML frontmatter
  entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

validate-jmir-compliance:
  name: Validate JMIR compliance
  entry: python scripts/validate_jmir_compliance.py
  language: python
  pass_filenames: false

docs(archive): snapshot i-JMR ms#96541 R1 submission (2026-06-15)
  ARCHIVED/20260615_IJMR-Submission/.zenodo.json
  ARCHIVED/20260615_IJMR-Submission/20260605_Editor-Decision-D_Major-Revisions.pdf
  ARCHIVED/20260615_IJMR-Submission/20260607_response-to-reviewers.md
  ARCHIVED/20260615_IJMR-Submission/CITATION.cff
  ARCHIVED/20260615_IJMR-Submission/CLAUDE.md
  ARCHIVED/20260615_IJMR-Submission/Containerfile
  ARCHIVED/20260615_IJMR-Submission/LICENSE
  ARCHIVED/20260615_IJMR-Submission/NOTICE
  ARCHIVED/20260615_IJMR-Submission/README.md
  ARCHIVED/20260615_IJMR-Submission/build_paper.sh
  ARCHIVED/20260615_IJMR-Submission/citation-style-ama.csl
  ARCHIVED/20260615_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260615_IJMR-Submission/cover-letter.md
  ARCHIVED/20260615_IJMR-Submission/cover-letter.pdf
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.mmd
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.mmd.caption.txt
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.mmd.png
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.mmd.svg
  ARCHIVED/20260615_IJMR-Submission/figures/knowledge-cycle.mmd
  ARCHIVED/20260615_IJMR-Submission/figures/knowledge-cycle.mmd.caption.txt
  ARCHIVED/20260615_IJMR-Submission/figures/knowledge-cycle.mmd.png
  ARCHIVED/20260615_IJMR-Submission/figures/knowledge-cycle.mmd.svg
  ARCHIVED/20260615_IJMR-Submission/figures/mermaid-styles.css
  ARCHIVED/20260615_IJMR-Submission/figures/puppeteer-config.json
  ARCHIVED/20260615_IJMR-Submission/metadata.yaml
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.caption.txt
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.html
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.md
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260615_IJMR-Submission/paper.docx
  ARCHIVED/20260615_IJMR-Submission/paper.html
  ARCHIVED/20260615_IJMR-Submission/paper.md
  ARCHIVED/20260615_IJMR-Submission/paper.pdf
  ARCHIVED/20260615_IJMR-Submission/paper.tex
  ARCHIVED/20260615_IJMR-Submission/pyproject.toml
  ARCHIVED/20260615_IJMR-Submission/reference.docx
  ARCHIVED/20260615_IJMR-Submission/references.bib
  ARCHIVED/20260615_IJMR-Submission/submission-checklist.md
  ARCHIVED/20260615_IJMR-Submission/uv.lock
Due: none

fix(zenodo): auto-derive release version from Git tag
  .zenodo.json
  CITATION.cff
Due: none

fix(paper): remove table of contents for JMIR submission
  metadata.yaml
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(build): drop --toc flags so toc:false is honored
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  scripts/build_paper.sh
Due: none

docs(archive): refresh i-JMR submission snapshot with final files
  ARCHIVED/20260615_IJMR-Submission/.zenodo.json
  ARCHIVED/20260615_IJMR-Submission/CITATION.cff
  ARCHIVED/20260615_IJMR-Submission/build_paper.sh
  ARCHIVED/20260615_IJMR-Submission/metadata.yaml
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.docx
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.html
  ARCHIVED/20260615_IJMR-Submission/multimedia_appendix_1.pdf
  ARCHIVED/20260615_IJMR-Submission/paper.docx
  ARCHIVED/20260615_IJMR-Submission/paper.html
  ARCHIVED/20260615_IJMR-Submission/paper.md
  ARCHIVED/20260615_IJMR-Submission/paper.pdf
  ARCHIVED/20260615_IJMR-Submission/paper.tex
Due: none

docs: rewrite cover letter for i-JMR R1 resubmission
  ARCHIVED/20260615_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260615_IJMR-Submission/cover-letter.md
  ARCHIVED/20260615_IJMR-Submission/cover-letter.pdf
  cover-letter.docx
  cover-letter.md
  cover-letter.pdf
Due: none

docs: add dated letterhead block to cover letter
  ARCHIVED/20260615_IJMR-Submission/cover-letter.docx
  ARCHIVED/20260615_IJMR-Submission/cover-letter.md
  ARCHIVED/20260615_IJMR-Submission/cover-letter.pdf
  cover-letter.docx
  cover-letter.md
  cover-letter.pdf
Due: none

feat(figures): add JMIR upload-ready figure copies (<=1200px)
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.figure.png
  ARCHIVED/20260615_IJMR-Submission/figures/knowledge-cycle.figure.png
  figures/architecture.figure.png
  figures/knowledge-cycle.figure.png
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

fix(figures): sync Figure 1 caption with step-8 feedback loop
  ARCHIVED/20260615_IJMR-Submission/figures/architecture.mmd.caption.txt
  figures/architecture.mmd.caption.txt
Due: none

docs(response): cite JMIR Viewpoint structure rule; add plain-text abstract
  ARCHIVED/20260615_IJMR-Submission/20260607_response-to-reviewers.md
  ARCHIVED/20260615_IJMR-Submission/20260615_IJMR-Resubmission-Form.pdf
  ARCHIVED/20260615_IJMR-Submission/20260615_abstract-plaintext.txt
  docs/20260607_i-jmr-r1-response-to-reviewers.md
Due: none

docs: add plain-text title for i-JMR section (D)
  ARCHIVED/20260615_IJMR-Submission/20260615_title-plaintext.txt
Due: none

feat(submission): add visual abstract as i-JMR TOC/feature image
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image.png
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
  abstract-visual-video/20260615_visual-abstract_toc-image.png
Due: none

docs: set TOC image copyright to Yuimedi, Inc.
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
Due: none

docs(submission): add redacted AJE invoice + ToS as license evidence
  .gitignore
  ARCHIVED/20260615_IJMR-Submission/20260115_Invoice_SL73WR5YH_redacted.png
  ARCHIVED/20260615_IJMR-Submission/20260615_AJE_Terms-of-Service.pdf
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
  abstract-visual-video/20260115_Invoice_SL73WR5YH_redacted.png
  abstract-visual-video/20260615_Terms of Service _ AJE.pdf
Due: none

docs: point license upload to redacted invoice (unredacted PDFs deleted)
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
Due: none

docs: add supplementary-file descriptions (AJE ToS + redacted invoice)
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
Due: none

docs: add editor-notification note for the AJE Terms of Service
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
Due: none

chore: rename redacted invoice to 20260115_AJE_Invoice_SL73WR5YH_redacted
  ARCHIVED/20260615_IJMR-Submission/20260115_AJE_Invoice_SL73WR5YH_redacted.png
  ARCHIVED/20260615_IJMR-Submission/20260615_visual-abstract_toc-image_metadata.txt
  abstract-visual-video/20260115_AJE_Invoice_SL73WR5YH_redacted.png
Due: none

docs(submission): add tracked-changes manuscript (reviewed -> R1)
  ARCHIVED/20260615_IJMR-Submission/20260615_tracked-changes_reviewed-to-R1.docx
Due: none

docs: add description metadata for the tracked-changes manuscript
  ARCHIVED/20260615_IJMR-Submission/20260615_tracked-changes_reviewed-to-R1_metadata.txt
Due: none

docs(submission): add clean response-to-reviewers PDF for section 3 upload
  ARCHIVED/20260615_IJMR-Submission/20260607_response-to-reviewers.pdf
Due: none

docs: add description metadata for the response-to-reviewers PDF
  ARCHIVED/20260615_IJMR-Submission/20260607_response-to-reviewers_metadata.txt
Due: none

docs: add clean section-B paste of the response (no internal notes)
  ARCHIVED/20260615_IJMR-Submission/20260607_response-to-reviewers_sectionB-paste.txt
Due: none

docs: capture i-JMR R1 submission learnings in CLAUDE.md
  CLAUDE.md
Due: none

fix: address PR #548 review comments (submission checklist, citations, scholar script)
  ARCHIVED/20260615_IJMR-Submission/submission-checklist.md
  docs/research/answers/Research_Human-in-the-Loop-Detection-Correction-of-LLM-Errors-in-Text-to-SQL.md
  references.bib
  submission-checklist.md
  tools/run_scholar_workflow.py
Due: spdx-headers

chore(release): bump version to 3.0.0 for i-JMR ms#96541 R1 submission
  CITATION.cff
  pyproject.toml
  uv.lock
Due: none

feat(audit): add per-citation reference audit evidence collection script
  .gitignore
  scripts/audit_references.py
Due: spdx-headers

fix(refs): correct DOIs and metadata across bibliography; remove dead sources
  paper.md
  references.bib
Due: validate-jmir-compliance

fix(refs): judge-pass and full-text verification corrections
  .gitignore
  docs/validation_report.md
  paper.md
  references.bib
Due: validate-jmir-compliance

docs(archive): add i-JMR correspondence through Decision B (minor revision)
  ARCHIVED/20260329_JMIR-Submission/20260419_Email_JMIR_Rejection-Impact.pdf
  ARCHIVED/20260329_JMIR-Submission/20260422T000000Z_email-draft_transfer-choice-ms96541.md
  ARCHIVED/20260329_JMIR-Submission/20260422_Email_JMIR_Transfer.pdf
  ARCHIVED/20260329_JMIR-Submission/20260605_Editor_Author Correspondence_Major-Revisions-Required.pdf
  ARCHIVED/20260615_IJMR-Submission/20260707_Editor_Author Correspondence_Decision-B_Minor-Revisions.pdf
  ARCHIVED/20260712_IJMR-Submission/20260707_Editor_Author Correspondence_Decision-B_Minor-Revisions.pdf
  ARCHIVED/20260712_IJMR-Submission/20260707_Editor_Author Correspondence_Decision-B_Minor-Revisions.txt
Due: none

chore(assets): add AJE visual abstract V2/V3 deliverables
  abstract-visual-video/20260330_GAb0243_SNIndv_trategic Framework for Healthcare Analytics 02.V2.pdf
  abstract-visual-video/20260331T154000Z_GAb0243_SNIndv_trategic Framework for Healthcare Analytics 02.V3.ai
  abstract-visual-video/20260331T154000Z_GAb0243_SNIndv_trategic Framework for Healthcare Analytics 02.V3.jpg
  abstract-visual-video/20260331T154000Z_GAb0243_SNIndv_trategic Framework for Healthcare Analytics 02.V3.pdf
  abstract-visual-video/20260331T154000Z_GAb0243_SNIndv_trategic Framework for Healthcare Analytics 02.V3.tif
Due: none

fix(refs): resolve unsupported himssworkforce2024 statistic; re-source to global meta-analyses
  paper.md
  references.bib
Due: validate-jmir-compliance

fix(paper): resolve final judge-pass items (health2020 inference, wang2018 drop)
  paper.md
  references.bib
Due: validate-jmir-compliance

Path conditions:
  gemini-md-frontmatter: any of: GEMINI\.md$
  skill-structure: any of: ^\.gemini/skills/
  spdx-headers: any of: \.py$
  validate-jmir-compliance: any of: ^(paper\.md|metadata\.yaml)$
