Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure, spdx-headers

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Sync AI configuration files (CLAUDE.md → AGENTS.md, .agents/)
      # This hook runs FIRST to ensure derived files are synced before other checks
      - id: sync-ai-config
        name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
        entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
        language: python
        files: ^(CLAUDE\.md|\.claude/)
        pass_filenames: false
        stages: [pre-commit]

      # Check CLAUDE.md frontmatter
      - id: claude-md-frontmatter
        name: Check CLAUDE.md has YAML frontmatter
        entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
        language: python
        files: CLAUDE\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.claude/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .claude/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

docs(planning): add planning for interactive-paper-editor
  planning/interactive-paper-editor/architecture.md
  planning/interactive-paper-editor/epics.md
  planning/interactive-paper-editor/requirements.md
Due: none

docs(planning): add planning for research-session
  planning/research-session/architecture.md
  planning/research-session/epics.md
  planning/research-session/requirements.md
Due: none

docs(CLAUDE.md): update figures tracking documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): soften absolute claim + add 5 research questions
  docs/references/Research_Questions.md
  paper.md
Due: none

docs(research): add NL2SQL healthcare productivity measurement evidence
  docs/references/Research_How-have-healthcare-organizations-measured-productivity-gains-from-NL2SQL-vs-traditional-SQL.md
  docs/references/Research_Questions.md
Due: none

docs(research): update citizen developer productivity - supplementary search
  docs/references/Research_Questions.md
  docs/references/Research_What-methodology-has-been-used-to-measure-citizen-developer-productivity-in-healthcare-contexts.md
Due: none

docs(research): add code modernization for NL interfaces research
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-supports-applying-code-modernization-principles-to-natural-language-interfaces-for-legacy-data-access.md
Due: none

docs(research): add tacit knowledge documentation difficulty evidence
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-exists-that-tacit-analytical-knowledge-is-difficult-to-document-and-transfer-through-traditional-means.md
Due: none

docs(research): add analytics maturity and patient outcomes evidence
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-links-healthcare-analytics-maturity-gaps-to-patient-care-quality-and-clinical-outcomes.md
Due: none

docs(research): add NL2SQL efficiency metrics - fills Paper1 gap
  docs/references/Research_What-efficiency-metrics-have-been-reported-for-NL2SQL-or-conversational-analytics-in-healthcare.md
Due: none

docs(research): add low-code/conversational AI efficiency metrics for Paper1
  docs/references/Research_What-quantitative-efficiency-metrics-have-been-reported-for-low-code-or-conversational-AI-in-healthcare-analytics.md
Due: none

docs(research): add analytics challenges and healthcare delivery evidence - completes Paper1 research
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-demonstrates-that-analytics-challenges-have-measurable-implications-for-healthcare-delivery.md
Due: none

docs(research): add workforce turnover and care continuity evidence - supports Paper1 workforce pillar
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-links-healthcare-workforce-turnover-and-institutional-knowledge-loss-to-care-continuity.md
Due: none

docs(research): add contemporary healthcare IT turnover gap analysis
  docs/references/Research_What-contemporary-empirical-research-measures-healthcare-IT-turnover-rates.md
Due: none

docs(research): add latest foundation model healthcare benchmarks (GPT-5, Opus 4.5)
  docs/references/Research_What-healthcare-benchmarks-exist-for-latest-foundation-models-GPT5-Claude-Opus-4.5.md
Due: none

docs(CLAUDE.md): update test counts and clarify file naming
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(pr-review): address PR #383 review comments
  .agents/agentdb-state-manager/scripts/query_workflow_state.py
  .agents/agentdb-state-manager/scripts/record_sync.py
  .claude/skills/agentdb-state-manager/scripts/query_workflow_state.py
  .claude/skills/agentdb-state-manager/scripts/record_sync.py
  docs/references/Research_Questions.md
  docs/validation_report.md
Due: sync-ai-config, skill-structure, spdx-headers

feat(paper): add three-pillar assessment rubric for actionability
  paper.md
Due: none

style(paper): remove all em-dashes per style guide
  paper.md
Due: none

docs(CLAUDE.md): add writing style guide and assessment rubric reference
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): resolve table numbering conflict (Table 2 → Table 4)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

style: remove all em-dashes from project files
  .claude/commands/scholar/research-question.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Research_Do-healthcare-organizations-struggle-to-keep-pace-with-changes-in-analytics.md
  docs/references/Research_How-does-Nonakas-SECI-model-apply-to-organizational knowledge-capture-in-analytics.md
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-exists-for-NL2SQL-productivity-gains-compared-to-traditional-SQL.md
  docs/references/Research_What-peer-reviewed-evidence-exists-for-cost-reductions-from-healthcare-AI-low-code-implementations.md
  planning/it-analytics-turnover-sources/architecture.md
  planning/primum-non-nocere-conclusion/architecture.md
  ppr_review/osf-registration-draft.md
  project-management.md
  specs/it-analytics-turnover-sources/plan.md
  specs/it-analytics-turnover-sources/spec.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): align methodology with PRISMA flow diagram
  paper.md
Due: none

fix(paper): align structure with npj Digital Medicine standards
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

build(paper): generate literature-flow figure and rebuild artifacts
  figures/literature-flow.jpg
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): name three pillars in abstract
  paper.md
Due: none

fix(figures): use vertical layout for Figure 1 (PRISMA flow)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  figures/literature-flow.mmd
  figures/literature-flow.mmd.png
  paper.pdf
Due: sync-ai-config, claude-md-frontmatter

build: regenerate paper artifacts
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

refactor(figures): rename to .mmd.png naming convention
  figures/CLAUDE.md
  figures/literature-flow.jpg
  figures/literature-flow.mmd.png
Due: claude-md-frontmatter

fix(paper): rotate Table 1 to landscape for better readability
  metadata.yaml
  paper.md
  paper.pdf
Due: none

feat(figures): add architecture diagram outputs
  figures/architecture.jpg
  figures/architecture.mmd
  figures/architecture.mmd.dot
  figures/architecture.mmd.dot.png
  figures/architecture.mmd.dot.svg
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  paper.md
Due: none

fix(paper): use symbol footnotes in Table 1 to reduce width
  paper.md
  paper.pdf
Due: none

fix(figures): shorten Knowledge Infrastructure label
  figures/architecture.mmd
  figures/architecture.mmd.dot
  figures/architecture.mmd.dot.png
  figures/architecture.mmd.dot.svg
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
Due: none

fix(figures): resolve font rendering in Mermaid diagrams
  Containerfile
  figures/literature-flow.jpg
  figures/literature-flow.mmd
  figures/puppeteer-config.json
Due: none

docs(paper): update Search Concepts to align with Research_*.md files
  paper.md
  paper.pdf
Due: none

fix(figures): use shorter subgraph label to avoid Mermaid truncation
  figures/architecture.mmd
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  puppeteer-config.json
Due: none

docs(paper): integrate low-code ROI evidence from Research files
  paper.md
Due: none
