Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

chore(github): remove gemini and claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

chore(docs): update all GEMINI.md context files
  .genkit/traces_idx/genkit.metadata
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  GEMINI.md
Due: gemini-md-frontmatter

fix(paper): replace escaped quotes with standard quotes
  paper.md
Due: validate-jmir-compliance

fix(docs): restore missing references in references.bib
  references.bib
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(scripts): correct reference sorting logic in validation script
  scripts/validate_references.py
Due: spdx-headers

fix(scripts): add URL allowlist and mark confirmed links as good
  docs/research/Research_Confirmed.md
  docs/validation_report.md
  scripts/url_allowlist.json
  scripts/validate_references.py
Due: spdx-headers

fix(docs): correct broken reference URLs and update allowlist
  docs/validation_report.md
  references.bib
  scripts/url_allowlist.json
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

docs: finalize 3-pillar framework with RCA validation and balanced alternative analysis
  GEMINI.md
  docs/research/Research_Questions.md
  docs/research/Research_RCA-application-to-workforce-turnover.md
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: gemini-md-frontmatter, validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs: address PR comments - refactor mermaid styles and remove redundant script
  figures/architecture.mmd
  figures/architecture.mmd.svg
  figures/generate_literature_flow.py
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.svg
  figures/literature-flow.mmd
  figures/literature-flow.mmd.svg
  paper.docx
  paper.pdf
Due: spdx-headers

chore: release v1.24.0 - refactored 3-pillar framework
  paper.docx
  paper.md
  paper.pdf
  pyproject.toml
Due: validate-jmir-compliance

CHECKPOINT
  paper.md
  paper.pdf
Due: validate-jmir-compliance

refactor(paper): address all PR comments
  paper.md
Due: validate-jmir-compliance

refactor(paper): address final PR #455 redundancy feedback
  paper.md
Due: validate-jmir-compliance

refactor(paper): remove redundant workforce statistics per PR #458
  paper.md
Due: validate-jmir-compliance

refactor(paper): remove redundant statistic per PR #460 feedback
  paper.md
Due: validate-jmir-compliance

refactor(paper): remove redundant paragraph per PR #464 feedback
  paper.md
Due: validate-jmir-compliance

refactor(paper): clean up redundancy and spacing per PR #466 feedback
  paper.md
Due: validate-jmir-compliance

fix(scripts): address PR #470 comments
  scripts/validate_references.py
Due: spdx-headers

refactor: address PR #471 comments
  .gitignore
  scripts/validate_references.py
Due: spdx-headers

docs: refine workforce turnover and analytics adoption evidence in paper.md
  docs/validation_report.md
  paper.docx
  paper.html
  paper.md
  references.bib
Due: validate-jmir-compliance

docs: replace clinical turnover proxy with organizational forgetting evidence in paper.md
  paper.md
Due: validate-jmir-compliance

docs: update short-title to Healthcare Analytics Challenges
  metadata.yaml
  paper.md
Due: validate-jmir-compliance

docs: represent iterative refinement loop in Figure 1
  figures/architecture.mmd
  paper.md
Due: validate-jmir-compliance

docs: update validation edge to bi-directional in Figure 1
  figures/architecture.mmd
  paper.md
Due: validate-jmir-compliance

docs: align literature review introduction with three-pillar framework order
  paper.md
Due: validate-jmir-compliance

docs: align methodology section with three-pillar framework terminology
  paper.md
Due: validate-jmir-compliance

docs: build paper artifacts and fix LaTeX ampersand error
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: update validation step description in Figure 2 and paper.md
  figures/knowledge-cycle.mmd
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: clarify iterative emergence of search terms in methodology
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance
