Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Sync AI configuration files (CLAUDE.md → AGENTS.md, .agents/)
      # This hook runs FIRST to ensure derived files are synced before other checks
      - id: sync-ai-config
        name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
        entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
        language: python
        files: ^(CLAUDE\.md|\.claude/)
        pass_filenames: false
        stages: [pre-commit]

      # Check CLAUDE.md frontmatter
      - id: claude-md-frontmatter
        name: Check CLAUDE.md has YAML frontmatter
        entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
        language: python
        files: CLAUDE\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.claude/skills/
        pass_filenames: false

fix: address PR #236 review comments
  .agents/quality-enforcer/scripts/run_quality_gates.py
  .agents/workflow-utilities/scripts/vcs/github_adapter.py
  .claude/skills/quality-enforcer/scripts/run_quality_gates.py
  .claude/skills/workflow-utilities/scripts/vcs/github_adapter.py
Due: sync-ai-config, skill-structure

chore: add MIT LICENSE file
  LICENSE
Due: none

fix: Container build and quality gate fixes for v1.7.0 release
  .agents/commands/CLAUDE.md
  .agents/commands/workflow/1_specify.md
  .agents/commands/workflow/2_plan.md
  .agents/commands/workflow/3_tasks.md
  .agents/commands/workflow/4_implement.md
  .agents/commands/workflow/5_integrate.md
  .agents/commands/workflow/6_release.md
  .agents/commands/workflow/7_backmerge.md
  .agents/commands/workflow/CLAUDE.md
  .agents/commands/workflow/all.md
  .agents/workflow-utilities/scripts/container_utils.py
  .claude/skills/workflow-utilities/scripts/container_utils.py
  Containerfile
  coverage.json
  scripts/sync_github_todos.py
  tools/workflow-utilities/validate_versions.py
Due: sync-ai-config, claude-md-frontmatter, skill-structure

feat(specs): Add specifications for apply-workflow-templates (#239)
  specs/CLAUDE.md
  specs/README.md
  specs/apply-workflow-templates/ARCHIVED/CLAUDE.md
  specs/apply-workflow-templates/ARCHIVED/README.md
  specs/apply-workflow-templates/CLAUDE.md
  specs/apply-workflow-templates/README.md
  specs/apply-workflow-templates/plan.md
  specs/apply-workflow-templates/spec.md
Due: claude-md-frontmatter

fix: Address PR #240 review comments
  .agents/agentdb-state-manager/scripts/sync_todo_to_db.py
  .agents/git-workflow-manager/scripts/release_workflow.py
  .agents/quality-enforcer/scripts/run_quality_gates.py
  .agents/skills/agentdb-state-manager/scripts/sync_todo_to_db.py
  .agents/skills/git-workflow-manager/scripts/release_workflow.py
  .agents/skills/quality-enforcer/scripts/run_quality_gates.py
  .claude/skills/agentdb-state-manager/scripts/sync_todo_to_db.py
  .claude/skills/git-workflow-manager/scripts/release_workflow.py
  .claude/skills/quality-enforcer/scripts/run_quality_gates.py
Due: sync-ai-config, skill-structure

docs(spec): add SpecKit specifications for repo-organization-cleanup
  planning/repo-organization-cleanup/architecture.md
  planning/repo-organization-cleanup/epics.md
  planning/repo-organization-cleanup/requirements.md
  planning/repo-organization-cleanup/speckit-config.yaml
  specs/repo-organization-cleanup/ARCHIVED/CLAUDE.md
  specs/repo-organization-cleanup/ARCHIVED/README.md
  specs/repo-organization-cleanup/CLAUDE.md
  specs/repo-organization-cleanup/README.md
  specs/repo-organization-cleanup/plan.md
  specs/repo-organization-cleanup/spec.md
Due: claude-md-frontmatter

docs(spec): update plan.md with concrete task breakdown
  specs/repo-organization-cleanup/plan.md
Due: none

feat: add planning docs for apply-workflow-templates feature
  .claude-state/agentdb.duckdb
  coverage.json
  planning/apply-workflow-templates/ARCHIVED/CLAUDE.md
  planning/apply-workflow-templates/ARCHIVED/README.md
  planning/apply-workflow-templates/CLAUDE.md
  planning/apply-workflow-templates/README.md
  planning/apply-workflow-templates/architecture.md
  planning/apply-workflow-templates/epics.md
  planning/apply-workflow-templates/requirements.md
Due: claude-md-frontmatter

docs(spec): add SpecKit specifications for apply-workflow-templates
  specs/apply-workflow-templates/ARCHIVED/CLAUDE.md
  specs/apply-workflow-templates/ARCHIVED/README.md
  specs/apply-workflow-templates/CLAUDE.md
  specs/apply-workflow-templates/README.md
  specs/apply-workflow-templates/plan.md
  specs/apply-workflow-templates/spec.md
Due: claude-md-frontmatter

docs(spec): populate spec.md and plan.md with actual tasks
  specs/apply-workflow-templates/plan.md
  specs/apply-workflow-templates/spec.md
Due: none

fix: address PR review feedback
  .agents/git-workflow-manager/scripts/create_worktree.py
  .agents/git-workflow-manager/scripts/release_workflow.py
  .agents/quality-enforcer/scripts/run_quality_gates.py
  .claude/skills/git-workflow-manager/scripts/create_worktree.py
  .claude/skills/git-workflow-manager/scripts/release_workflow.py
  .claude/skills/quality-enforcer/scripts/run_quality_gates.py
Due: sync-ai-config, skill-structure

style: format Python files with ruff
  .agents/agentdb-state-manager/scripts/checkpoint_manager.py
  .agents/agentdb-state-manager/scripts/record_sync.py
  .agents/agentdb-state-manager/scripts/sync_todo_to_db.py
  .agents/agentdb-state-manager/scripts/worktree_agent_integration.py
  .agents/bmad-planner/scripts/create_planning.py
  .agents/git-workflow-manager/ARCHIVED/backmerge_release.py
  .agents/git-workflow-manager/scripts/cleanup_feature.py
  .agents/git-workflow-manager/scripts/cleanup_release.py
  .agents/git-workflow-manager/scripts/create_release.py
  .agents/git-workflow-manager/scripts/generate_work_items_from_pr.py
  .agents/git-workflow-manager/scripts/tag_release.py
  .agents/initialize-repository/scripts/initialize_repository.py
  .agents/speckit-author/scripts/create_specifications.py
  .agents/workflow-utilities/scripts/create_skill.py
  .agents/workflow-utilities/scripts/generate_claude_md.py
  .agents/workflow-utilities/scripts/update_claude_md_refs.py
  .agents/workflow-utilities/scripts/update_claude_references.py
  .agents/workflow-utilities/scripts/vcs/azure_adapter.py
  .agents/workflow-utilities/scripts/vcs/config.py
  .agents/workflow-utilities/scripts/vcs/github_adapter.py
  .claude/skills/agentdb-state-manager/scripts/checkpoint_manager.py
  .claude/skills/agentdb-state-manager/scripts/record_sync.py
  .claude/skills/agentdb-state-manager/scripts/sync_todo_to_db.py
  .claude/skills/agentdb-state-manager/scripts/worktree_agent_integration.py
  .claude/skills/bmad-planner/scripts/create_planning.py
  .claude/skills/git-workflow-manager/ARCHIVED/backmerge_release.py
  .claude/skills/git-workflow-manager/scripts/cleanup_feature.py
  .claude/skills/git-workflow-manager/scripts/cleanup_release.py
  .claude/skills/git-workflow-manager/scripts/create_release.py
  .claude/skills/git-workflow-manager/scripts/generate_work_items_from_pr.py
  .claude/skills/git-workflow-manager/scripts/tag_release.py
  .claude/skills/initialize-repository/scripts/initialize_repository.py
  .claude/skills/speckit-author/scripts/create_specifications.py
  .claude/skills/workflow-utilities/scripts/create_skill.py
  .claude/skills/workflow-utilities/scripts/generate_claude_md.py
  .claude/skills/workflow-utilities/scripts/update_claude_md_refs.py
  .claude/skills/workflow-utilities/scripts/update_claude_references.py
  .claude/skills/workflow-utilities/scripts/vcs/azure_adapter.py
  .claude/skills/workflow-utilities/scripts/vcs/config.py
  .claude/skills/workflow-utilities/scripts/vcs/github_adapter.py
Due: sync-ai-config, skill-structure

fix: address PR review security and code quality concerns
  .agents/agentdb-state-manager/scripts/checkpoint_manager.py
  .agents/agentdb-state-manager/scripts/query_workflow_state.py
  .agents/agentdb-state-manager/scripts/record_sync.py
  .agents/agentdb-state-manager/scripts/sync_todo_to_db.py
  .claude/skills/agentdb-state-manager/scripts/checkpoint_manager.py
  .claude/skills/agentdb-state-manager/scripts/query_workflow_state.py
  .claude/skills/agentdb-state-manager/scripts/record_sync.py
  .claude/skills/agentdb-state-manager/scripts/sync_todo_to_db.py
Due: sync-ai-config, skill-structure

refactor: consolidate archive/ to ARCHIVED/ and streamline CLAUDE.md
  .github/copilot-instructions.md
  AGENTS.md
  ARCHIVED/README.md
  ARCHIVED/TMP-yuiquery-update-sept2025_20250903T075200Z.md
  ARCHIVED/backups/github-project-guide-v2-backup_20250903T065157Z.md
  ARCHIVED/github-projects-integration-20250903T074900Z.md
  ARCHIVED/implementation/IMPLEMENTATION_SUMMARY_20250903T065157Z.txt
  ARCHIVED/implementation/claude-code-implementation-prompt_20250903T065157Z.md
  ARCHIVED/implementation/implementation-log_20250903T065157Z.md
  ARCHIVED/implementation/yuiquery-implementation-json_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250820T223106Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250820T223523Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250820T223922Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250820T224014Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250821T000112Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_AI_20250821T000829Z_archived_20250903T065157Z.json
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250820T223106Z_archived_20250903T065157Z.md
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250820T223523Z_archived_20250903T065157Z.md
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250820T223922Z_archived_20250903T065157Z.md
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250820T224014Z_archived_20250903T065157Z.md
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250821T000112Z_archived_20250903T065157Z.md
  ARCHIVED/todo-history/TODO_FOR_HUMAN_20250821T000829Z_archived_20250903T065157Z.md
  CLAUDE.md
  DECISION_LOG.json
  README.md
  RELEASE_NOTES_v1.2.0.md
  docs/README.md
  docs/references/README.md
  project-management.md
  scripts/github_project_sync.sh
Due: sync-ai-config, claude-md-frontmatter

docs(planning): add BMAD planning for reference validation
  planning/reference-validation-config.json
  planning/reference-validation/ARCHIVED/CLAUDE.md
  planning/reference-validation/ARCHIVED/README.md
  planning/reference-validation/CLAUDE.md
  planning/reference-validation/README.md
  planning/reference-validation/architecture.md
  planning/reference-validation/epics.md
  planning/reference-validation/requirements.md
Due: claude-md-frontmatter

docs(spec): add SpecKit specifications for reference-validation
  .speckit_config.yaml
  specs/reference-validation/ARCHIVED/CLAUDE.md
  specs/reference-validation/ARCHIVED/README.md
  specs/reference-validation/CLAUDE.md
  specs/reference-validation/README.md
  specs/reference-validation/plan.md
  specs/reference-validation/spec.md
Due: claude-md-frontmatter

docs(plan): customize task list for reference validation
  specs/reference-validation/plan.md
Due: none

feat(validation): implement reference validation for paper.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/validation_report.md
  scripts/CLAUDE.md
  scripts/validate_references.py
  tests/test_validate_references.py
  tools/validation/validate_documentation.sh
Due: sync-ai-config, claude-md-frontmatter

fix: address PR review security and code quality concerns
  scripts/validate_references.py
  tests/test_validate_references.py
Due: none

fix: address PR #252 review feedback
  specs/reference-validation/spec.md
  tools/validation/validate_documentation.sh
Due: none

docs(planning): add planning for academic-literature-review-workflow
  planning/academic-literature-review-workflow/architecture.md
  planning/academic-literature-review-workflow/epics.md
  planning/academic-literature-review-workflow/requirements.md
Due: none

feat(specs): add specifications for academic-literature-review-workflow
  specs/academic-literature-review-workflow/ARCHIVED/CLAUDE.md
  specs/academic-literature-review-workflow/ARCHIVED/README.md
  specs/academic-literature-review-workflow/CLAUDE.md
  specs/academic-literature-review-workflow/README.md
  specs/academic-literature-review-workflow/plan.md
  specs/academic-literature-review-workflow/spec.md
  specs/academic-literature-review-workflow/speckit_config.json
Due: claude-md-frontmatter

fix: address PR #254 review feedback
  lit_review/domain/values/doi.py
  tests/lit_review/domain/test_exceptions.py
Due: none

docs(CLAUDE.md): add lit_review package documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  coverage.json
Due: sync-ai-config, claude-md-frontmatter

docs(planning): add planning for academic-literature-review-tool
  planning/academic-literature-review-tool/CLAUDE.md
  planning/academic-literature-review-tool/README.md
  planning/academic-literature-review-tool/architecture.md
  planning/academic-literature-review-tool/epics.md
  planning/academic-literature-review-tool/requirements.md
Due: claude-md-frontmatter

docs(CLAUDE.md): enhance documentation with lit_review status and workflow system
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/copilot-instructions.md
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(spec): add SpecKit specifications for academic-literature-review-tool
  specs/academic-literature-review-tool/ARCHIVED/CLAUDE.md
  specs/academic-literature-review-tool/ARCHIVED/README.md
  specs/academic-literature-review-tool/CLAUDE.md
  specs/academic-literature-review-tool/README.md
  specs/academic-literature-review-tool/plan.md
  specs/academic-literature-review-tool/spec.md
Due: claude-md-frontmatter

feat(lit_review): complete project setup dependencies and testing config
  pyproject.toml
  pytest.ini
Due: none

feat(lit_review): implement application layer use cases T007-T011
  lit_review/application/ports/__init__.py
  lit_review/application/ports/ai_analyzer.py
  lit_review/application/usecases/__init__.py
  lit_review/application/usecases/analyze_themes.py
  lit_review/application/usecases/export_review.py
  lit_review/application/usecases/generate_synthesis.py
  lit_review/application/usecases/search_papers.py
  tests/lit_review/application/usecases/test_analyze_themes.py
  tests/lit_review/application/usecases/test_export_review.py
  tests/lit_review/application/usecases/test_generate_synthesis.py
  tests/lit_review/application/usecases/test_search_papers.py
Due: none

feat(cli): implement T017-T021 CLI commands for literature review
  lit_review/interfaces/cli/review_cli.py
  tests/lit_review/interfaces/cli/test_review_cli.py
Due: none

test(lit_review): add integration and performance tests (T022, T023)
  tests/lit_review/integration/test_full_workflow.py
  tests/lit_review/performance/__init__.py
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

style(tests): apply ruff formatting to performance tests
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none
