Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Sync AI configuration files (CLAUDE.md → AGENTS.md, .agents/)
      # This hook runs FIRST to ensure derived files are synced before other checks
      - id: sync-ai-config
        name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
        entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
        language: python
        files: ^(CLAUDE\.md|\.claude/)
        pass_filenames: false
        stages: [pre-commit]

      # Check CLAUDE.md frontmatter
      - id: claude-md-frontmatter
        name: Check CLAUDE.md has YAML frontmatter
        entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
        language: python
        files: CLAUDE\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.claude/skills/
        pass_filenames: false

docs(references): add research notes for failed standardization efforts
  docs/references/Analytics_Failed-Standardization.md
Due: none

fix(paper): add academic citation for knowledge worker turnover costs (Issue #298)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

fix(tests): fix performance and integration test issues
  .agents/quality-enforcer/scripts/run_quality_gates.py
  .claude/skills/quality-enforcer/scripts/run_quality_gates.py
  coverage.json
  tests/lit_review/integration/test_full_workflow.py
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: sync-ai-config, skill-structure

fix(tests): remove unnecessary hasattr check in benchmark test
  tests/lit_review/performance/test_analysis_performance.py
Due: none

fix(config): add pytest marker registration to avoid warnings
  pyproject.toml
Due: none

fix(paper): strengthen standardization claims with academic sources (Issue #302)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Research_Analytics_Failed-Standardization.md
  docs/references/Research_Analytics_Low-Code-ROI.md
  docs/references/Research_Analytics_Pace-Skills.md
  docs/references/Research_Knowledge-Portal_Effective-Components.md
  docs/references/Research_Workforce_Training.md
  docs/references/Research_Workforce_Turnover-Cost.md
  docs/references/Research_Workforce_Turnover.md
  docs/validation_report.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

build: regenerate paper artifacts for v1.13.0
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

feat(ci): auto-commit paper artifacts when paper.md changes
  .github/workflows/pdf-generation.yml
Due: none

docs(CLAUDE.md): update citation count and add auto-build documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): use IBM newsroom source for Watson Health divestment [I9]
  paper.md
Due: none

docs(CLAUDE.md): add commit convention and expand pre-commit hooks
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: sync-ai-config, claude-md-frontmatter

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(CLAUDE.md): add licensing section after Apache 2.0 update
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(project-management): update milestones and risk register
  project-management/github-milestones.md
  project-management/risks/risk-register-v2.csv
Due: none

docs: reorganize journal standards and add revision strategy
  ppr_review/20251215_Revision-Strategy-Milestones.md
  standards/npj_digital-medicine_about.md
  standards/npj_digital-medicine_about_calls-papers.md
  standards/npj_digital-medicine_about_editorial-policies.md
Due: none

docs(CLAUDE.md): update publication strategy to three-paper series
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(paper): add primum non nocere framework to conclusion
  docs/validation_report.md
  paper.md
  planning/primum-non-nocere-conclusion/CLAUDE.md
  planning/primum-non-nocere-conclusion/README.md
  planning/primum-non-nocere-conclusion/architecture.md
  planning/primum-non-nocere-conclusion/epics.md
  planning/primum-non-nocere-conclusion/requirements.md
Due: claude-md-frontmatter

docs(paper): add quality patient care as primary institutional mission
  docs/validation_report.md
  paper.md
Due: none

docs(ppr_review): add AACODS grey literature checklist
  ppr_review/20251215_AACODS-Grey-Literature.md
Due: none

test(skills): add tests for check_spdx_headers.py
  .agents/__init__.py
  .agents/workflow-utilities/scripts/check_spdx_headers.py
  .claude/skills/workflow-utilities/scripts/check_spdx_headers.py
  tests/skills/CLAUDE.md
  tests/skills/test_check_spdx_headers.py
Due: sync-ai-config, claude-md-frontmatter, skill-structure

docs(CLAUDE.md): update skills test count to 316
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  coverage.json
  docs/validation_report.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): update [I10] Haven CNBC reference URL
  docs/validation_report.md
  paper.md
Due: none

fix(paper): add citations for technical barriers to data access
  docs/validation_report.md
  paper.md
Due: none

fix(paper): add [I11] citations for NORC workforce survey
  docs/validation_report.md
  paper.md
Due: none

fix(paper): add AACODS grey literature quality assessment
  docs/validation_report.md
  paper.md
  ppr_review/20251215_AACODS-Grey-Literature.md
Due: none

docs(CLAUDE.md): update citation count and add AACODS reference
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): remove unused [A26] reference and renumber citations
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/validation_report.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

docs(planning): add planning for paper-1-revisions
  planning/paper-1-revisions/architecture.md
  planning/paper-1-revisions/epics.md
  planning/paper-1-revisions/requirements.md
Due: none

docs(specs): add paper-1-revisions specifications
  specs/paper-1-revisions/ARCHIVED/CLAUDE.md
  specs/paper-1-revisions/ARCHIVED/README.md
  specs/paper-1-revisions/CLAUDE.md
  specs/paper-1-revisions/README.md
  specs/paper-1-revisions/plan.md
  specs/paper-1-revisions/spec.md
Due: claude-md-frontmatter

feat(paper): transform Paper 1 to analytical framework focus
  figures/literature-flow.mmd
  paper.md
  ppr_review/arxiv-submission-checklist.md
  ppr_review/expert-review-checklist.md
  ppr_review/osf-registration-draft.md
  ppr_review/zenodo-submission-checklist.md
Due: none

docs(CLAUDE.md): update with Paper 1 revision context
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter
