Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

chore: bump version to 1.29.1 and regenerate paper artifacts
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.pdf
  pyproject.toml
Due: none

build: rebuild paper artifacts
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  uv.lock
Due: none

docs(GEMINI.md): update GEMINI.md files and rebuild paper artifacts
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/ARCHIVED/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/GEMINI.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: gemini-md-frontmatter, skill-structure, validate-jmir-compliance

docs(paper): sync paper version with uv.lock (1.29.1)
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs(GEMINI.md): update GEMINI.md files
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/ARCHIVED/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

chore: bump version to 1.30.0 to match release tag
  pyproject.toml
Due: none

chore: finalize paper rewrite and validation
  GEMINI.md
  paper.md
  paper.pdf
Due: gemini-md-frontmatter, validate-jmir-compliance

build: update uv.lock for dependency consistency
  uv.lock
Due: none

fix: address PR reviews (GEMINI.md path error, version mismatch)
  GEMINI.md
  pyproject.toml
  uv.lock
Due: gemini-md-frontmatter

fix: address PR reviews (Figure 2, Stats, Limitations, Future Research)
  GEMINI.md
  paper.md
Due: gemini-md-frontmatter, validate-jmir-compliance

feat(secrets): add cross-platform secrets management and Claude Code workflow skills
  .claude/skills/v7x1-workflow.md
  .claude/skills/v7x1_1-worktree.md
  .claude/skills/v7x1_2-integrate.md
  .claude/skills/v7x1_3-release.md
  .claude/skills/v7x1_4-backmerge.md
  .gitignore
  CLAUDE.md
  scripts/secrets_run.py
  scripts/secrets_setup.py
  secrets.toml
Due: spdx-headers

feat(ci): add Claude Code review workflow and fix secrets_setup.py print bug
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  scripts/secrets_setup.py
Due: spdx-headers

feat(scripts): update JMIR validator for Viewpoint article type
  scripts/validate_jmir_compliance.py
Due: spdx-headers

feat(paper): convert from IMRD to Viewpoint descriptive headers
  metadata.yaml
  paper.md
Due: validate-jmir-compliance

feat(paper): strengthen SECI theoretical grounding
  paper.md
Due: validate-jmir-compliance

feat(paper): expand Validator Paradox and Standard Work argument
  paper.md
Due: validate-jmir-compliance

feat(paper): restore key evidence for Three Pillars
  paper.md
Due: validate-jmir-compliance

feat(paper): expand ARI, Cognitive Forcing, update ang2004 citation
  paper.md
Due: validate-jmir-compliance

build: regenerate paper artifacts for Viewpoint submission
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs: add resubmission cover letter for JMIR ms#91493
  cover-letter.md
Due: none

docs: update CLAUDE.md with Viewpoint resubmission context
  CLAUDE.md
Due: none

build: regenerate validation report and multimedia appendices
  docs/plans/2026-01-29-gh506-jmir-viewpoint-resubmission.md
  docs/validation_report.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
Due: none

build: regenerate paper artifacts [skip ci]
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix: address PR #507 review comments from Gemini and Copilot
  .claude/skills/v7x1-workflow.md
  .claude/skills/v7x1_1-worktree.md
  .claude/skills/v7x1_2-integrate.md
  .claude/skills/v7x1_3-release.md
  .claude/skills/v7x1_4-backmerge.md
  CLAUDE.md
  docs/plans/2026-01-29-gh506-jmir-viewpoint-resubmission.md
  scripts/GEMINI.md
  scripts/secrets_run.py
  scripts/secrets_setup.py
  scripts/validate_jmir_compliance.py
  tests/test_validate_jmir_compliance.py
Due: gemini-md-frontmatter, spdx-headers

docs: update CLAUDE.md with session learnings
  CLAUDE.md
Due: none

fix: address PR #508 review comments
  CLAUDE.md
Due: none

fix: address PR #509 review comments
  .claude/skills/git-workflow-manager/scripts/create_release.py
  .claude/skills/git-workflow-manager/scripts/pr_workflow.py
  .claude/skills/git-workflow-manager/scripts/release_workflow.py
  .github/workflows/claude-code-review.yml
  .gitignore
  lit_review/README.md
  tools/maintain_claude_context.py
Due: spdx-headers

fix: use importlib for sibling module import in secrets scripts
  scripts/secrets_run.py
  scripts/secrets_setup.py
Due: spdx-headers

fix(ci): copy LICENSE into container for hatchling build validation
  Containerfile
  Containerfile.lit_review
  podman-compose.yml
Due: none

fix(ci): also copy README.md into container for hatchling validation
  Containerfile
  Containerfile.lit_review
Due: none
