Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

sync-ai-config:
  name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
  entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
  language: python
  pass_filenames: false
  stages:
  - pre-commit

claude-md-frontmatter:
  name: Check CLAUDE.md has YAML frontmatter
  entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

chore: gitignore reference PDFs (keep local, exclude from repo)
  .gitignore
  docs/references/20250905_Anthropic_Code-Modernization-Playbook.pdf
Due: none

fix: address PR #272 review comments
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  Containerfile
  docs/validation_report.md
  paper.docx
  paper.pdf
Due: sync-ai-config, claude-md-frontmatter

fix: exclude benchmark tests from CI, update Python 3.11→3.12 references
  .github/workflows/lit-review-ci.yml
Due: none

fix: lower coverage threshold to 75%, ignore PR comment errors
  .github/workflows/lit-review-ci.yml
Due: none

fix: address PR #272 review comments
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

fix: address remaining PR #272 suggestions
  .github/workflows/lit-review-ci.yml
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs(planning): add planning for it-analytics-turnover-sources
  planning/it-analytics-turnover-sources/ARCHIVED/CLAUDE.md
  planning/it-analytics-turnover-sources/ARCHIVED/README.md
  planning/it-analytics-turnover-sources/CLAUDE.md
  planning/it-analytics-turnover-sources/README.md
  planning/it-analytics-turnover-sources/architecture.md
  planning/it-analytics-turnover-sources/epics.md
  planning/it-analytics-turnover-sources/requirements.md
Due: claude-md-frontmatter

docs(references): add workforce turnover and training research
  docs/references/Workforce_Training.md
  docs/references/Workforce_Turnover.md
Due: none

docs(spec): add SpecKit specifications for it-analytics-turnover-sources
  specs/it-analytics-turnover-sources/ARCHIVED/CLAUDE.md
  specs/it-analytics-turnover-sources/ARCHIVED/README.md
  specs/it-analytics-turnover-sources/CLAUDE.md
  specs/it-analytics-turnover-sources/README.md
  specs/it-analytics-turnover-sources/plan.md
  specs/it-analytics-turnover-sources/spec.md
Due: claude-md-frontmatter

docs(spec): customize spec.md and plan.md for documentation task
  specs/it-analytics-turnover-sources/plan.md
  specs/it-analytics-turnover-sources/spec.md
Due: none

feat(it-analytics-turnover-sources): add IT staff turnover citation [A11]
  docs/validation_report.md
  paper.md
Due: none

fix(docs): address PR #278 review comments
  paper.md
  specs/it-analytics-turnover-sources/README.md
  specs/it-analytics-turnover-sources/spec.md
Due: none

feat(paper): add 2023 AHIMA survey and quantify knowledge loss impact
  docs/validation_report.md
  paper.md
Due: none

docs(CLAUDE.md): update citation count to 22
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(planning): add BMAD planning for fix-broken-url-hrefs
  planning/fix-broken-url-hrefs/ARCHIVED/CLAUDE.md
  planning/fix-broken-url-hrefs/ARCHIVED/README.md
  planning/fix-broken-url-hrefs/CLAUDE.md
  planning/fix-broken-url-hrefs/README.md
  planning/fix-broken-url-hrefs/architecture.md
  planning/fix-broken-url-hrefs/epics.md
  planning/fix-broken-url-hrefs/requirements.md
Due: claude-md-frontmatter

docs(spec): add SpecKit specifications for fix-broken-url-hrefs
  specs/fix-broken-url-hrefs/ARCHIVED/CLAUDE.md
  specs/fix-broken-url-hrefs/ARCHIVED/README.md
  specs/fix-broken-url-hrefs/CLAUDE.md
  specs/fix-broken-url-hrefs/README.md
  specs/fix-broken-url-hrefs/plan.md
  specs/fix-broken-url-hrefs/spec.md
Due: claude-md-frontmatter

docs(spec): customize spec.md and plan.md for fix-broken-url-hrefs
  specs/fix-broken-url-hrefs/plan.md
  specs/fix-broken-url-hrefs/spec.md
Due: none

feat(refs): fix broken URLs and add LaTeX-in-URL validation
  coverage.json
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  scripts/validate_references.py
  tests/test_validate_references.py
  tools/validation/validate_documentation.sh
Due: none

fix(paper): correct IT turnover rate from 15.54% to 34%
  docs/references/Workforce_Turnover.md
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  planning/it-analytics-turnover-sources/CLAUDE.md
  planning/it-analytics-turnover-sources/README.md
  planning/it-analytics-turnover-sources/architecture.md
  planning/it-analytics-turnover-sources/epics.md
  planning/it-analytics-turnover-sources/requirements.md
  scripts/validate_references.py
  specs/it-analytics-turnover-sources/plan.md
  specs/it-analytics-turnover-sources/spec.md
Due: claude-md-frontmatter

docs(paper): add Claude AI assistance disclosure
  paper.md
  paper.pdf
Due: none

docs(CLAUDE.md): update citation count to 25 references
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

feat(paper): add PRISMA assessment and methodology transparency
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/journal-submission-guide.md
  docs/prisma-assessment.md
  docs/validation_report.md
  paper.md
  paper.pdf
  project-management/methodology-validation-checklist.md
  project-management/quality-gates.md
Due: sync-ai-config, claude-md-frontmatter

feat(paper): quantify healthcare workforce training costs
  docs/validation_report.md
  paper.md
Due: none

chore: regenerate paper.pdf and update workforce turnover docs
  docs/references/Workforce_Turnover.md
  paper.pdf
Due: none

docs(CLAUDE.md): update validation test count to 7
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): correct IT turnover rate from 15.54% to 34%
  docs/references/Workforce_Turnover.md
  docs/validation_report.md
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  planning/it-analytics-turnover-sources/epics.md
Due: none

feat(container): add GitHub CLI (gh) for workflow automation
  Containerfile
Due: none

docs(CLAUDE.md): update citation count and add gh CLI to container docs
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(planning): add planning for remove-lee-2022-reference (Issue #285)
  planning/remove-lee-2022-reference/ARCHIVED/CLAUDE.md
  planning/remove-lee-2022-reference/ARCHIVED/README.md
  planning/remove-lee-2022-reference/CLAUDE.md
  planning/remove-lee-2022-reference/README.md
  planning/remove-lee-2022-reference/architecture.md
  planning/remove-lee-2022-reference/epics.md
  planning/remove-lee-2022-reference/requirements.md
Due: claude-md-frontmatter

fix(paper): correct Yuimedi association and funding disclosures (Issue #286)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Analytics_Pace.md
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: sync-ai-config, claude-md-frontmatter

docs(spec): add SpecKit specifications for remove-lee-2022-reference
  planning/remove-lee-2022-reference/speckit_config.yaml
  specs/remove-lee-2022-reference/ARCHIVED/CLAUDE.md
  specs/remove-lee-2022-reference/ARCHIVED/README.md
  specs/remove-lee-2022-reference/CLAUDE.md
  specs/remove-lee-2022-reference/README.md
  specs/remove-lee-2022-reference/plan.md
  specs/remove-lee-2022-reference/spec.md
Due: claude-md-frontmatter

docs(spec): update specifications with actual feature content
  specs/remove-lee-2022-reference/plan.md
  specs/remove-lee-2022-reference/spec.md
Due: none

fix(paper): remove incorrect reference Lee 2022 [A8] (Issue #285)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  coverage.json
  docs/citation-audit-report.md
  docs/validation_report.md
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  specs/fix-paper-references/claims_analysis.md
  specs/fix-paper-references/reference_verification.md
Due: sync-ai-config, claude-md-frontmatter

docs(README): update citation count from 18 to 24
  README.md
Due: none

fix(paper): add DOI-verified citations for organizational maturity claims (Issue #289)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/validation_report.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

docs(references): add research notes for low-code ROI and turnover costs
  docs/references/Analytics_Low-Code-ROI.md
  docs/references/Workforce_Turnover-Cost.md
Due: none

fix(paper): add academic citations for low-code ROI, reduce vendor bias (Issue #291)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

docs(README): update citation count from 24 to 34
  README.md
  docs/references/Analytics_Pace-Skills.md
Due: none

fix(paper): reframe nursing turnover as contextual background (Issue #292)
  paper.md
Due: none

Path conditions:
  sync-ai-config: any of: ^(CLAUDE\.md|\.claude/)
  claude-md-frontmatter: any of: CLAUDE\.md$
  skill-structure: any of: ^\.claude/skills/
