Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

docs(claude): remove em-dash in CI Notes bullet per repo writing rule
  CLAUDE.md
Due: none

docs(claude): backtick polish for Gemini review on PR #527
  CLAUDE.md
Due: none

docs(claude): note Zenodo webhook fires on Release publish, not tag
  CLAUDE.md
Due: none

docs(readme): add Zenodo DOI badge (concept DOI 10.5281/zenodo.18264359)
  README.md
Due: none

docs(claude): update Paper 1 status to ms#96541 transfer pending
  ARCHIVED/20260329_JMIR-Submission/20260419T180000Z_email-draft_reinstate-transfer-request-ms96541.md
  CLAUDE.md
Due: none

docs(claude): update Paper 1 status to i-JMR transfer; fix Containerfile.lit_review uv install
  CLAUDE.md
  Containerfile.lit_review
Due: none

docs(research): plan i-JMR R1 revision and record HITL-vs-LLM evidence
  docs/plans/20260606_i-jmr-r1-revision-plan.md
  docs/research/Research-Questions.md
  docs/research/answers/Research_Human-in-the-Loop-Detection-Correction-of-LLM-Errors-in-Text-to-SQL.md
  tools/run_scholar_workflow.py
Due: spdx-headers

docs(research): ground the three title constructs via Scholar Labs (T#1)
  docs/research/Research-Questions.md
  docs/research/answers/Research_Defining-Analytics-Maturity-and-Maturity-Models.md
  docs/research/answers/Research_Defining-Technical-Enablement-Self-Service-Analytics.md
  docs/research/answers/Research_Defining-Workforce-Agility-in-Organizational-Research.md
Due: none

docs(research): ground Reviewer Q#2 (query reuse) and Q#1 (assessment bias)
  docs/research/Research-Questions.md
  docs/research/answers/Research_Query-Reuse-and-Repetition-in-Analytical-SQL-Workloads.md
  docs/research/answers/Research_Self-Selection-Bias-in-Organizational-Maturity-Assessments.md
Due: none

docs(research): verify and re-source HIMSS AMAM figures (deep-research)
  docs/research/answers/Research_HIMSS-AMAM-Stage-Distribution-Research.md
Due: none

feat(paper): define the three title constructs (Reviewer T#1, B5)
  paper.md
  references.bib
Due: validate-jmir-compliance

feat(paper): self-selection-bias caveat on maturity data (Reviewer Q#1, B1)
  paper.md
  references.bib
Due: validate-jmir-compliance

feat(paper): query-reuse scope conditions (Reviewer Q#2, B2)
  paper.md
  references.bib
Due: validate-jmir-compliance

refactor(paper): move externalization step detail to Multimedia Appendix 1
  multimedia_appendix_1.md
  paper.md
Due: validate-jmir-compliance

feat(paper): empirical HITL-vs-LLM evidence, prescriptive-pending (Q#3, B3)
  paper.md
  references.bib
Due: validate-jmir-compliance

feat(paper): data-drift/training limitation (Q#4) + acronym definitions (Q#1)
  paper.md
Due: validate-jmir-compliance

fix(figure): add Step 7->Step 1 continuous-learning loop to Figure 1 (T#3)
  figures/architecture.mmd
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  paper.md
Due: validate-jmir-compliance

docs(paper): tighten generative-AI disclosure for explicitness (A2)
  paper.md
Due: validate-jmir-compliance

docs(paper): align Funding statement name with COI (A3)
  paper.md
Due: validate-jmir-compliance

docs(paper): make AI disclosure and funding findable by keyword (A2/A3)
  paper.md
Due: validate-jmir-compliance

docs(paper): A4 heading/emphasis audit; rubric labels to subheadings
  docs/plans/20260607_i-jmr-r1-response-letter-notes.md
  paper.md
Due: validate-jmir-compliance

fix(refs): flip in-text citations from superscript to square brackets (A1)
  citation-style-ama.csl
Due: none

docs(response): draft point-by-point response letter; complete Ang2004 ref (D1)
  docs/20260607_i-jmr-r1-response-to-reviewers.md
  references.bib
Due: none

docs(response): fix date range, add industry-KB rebuttal and rebuild gate (D1)
  docs/20260607_i-jmr-r1-response-to-reviewers.md
Due: none

build: disable heading numbering; rebuild and verify editor-facing DOCX
  metadata.yaml
  multimedia_appendix_1.docx
  paper.docx
  paper.html
  paper.tex
  scripts/build_paper.sh
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(build): remove residual PDF heading numbering via secnumdepth override
  metadata.yaml
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
  paper.tex
Due: none

docs: update project records to i-JMR R1 state; retire #506 (D2)
  CLAUDE.md
  project-status.md
Due: none

docs(refs): complete bibliographic metadata for 18 journal articles (B9)
  references.bib
Due: none

ci: rebuild artifacts on references.bib / CSL / appendix changes
  .github/workflows/pdf-generation.yml
Due: none

fix(paper): apply pre-resubmission assessment fixes R1-R10, R14
  ARCHIVED/20260609T233958Z_critical-assessment_i-jmr-r1-pre-resubmission.md
  docs/20260607_i-jmr-r1-response-to-reviewers.md
  metadata.yaml
  multimedia_appendix_1.md
  paper.md
Due: validate-jmir-compliance

docs(paper): use HIMSS official AMAM name; update AI disclosure to Claude 5
  paper.md
Due: validate-jmir-compliance

fix(paper): use Unicode right arrow in Table 1 DIKW column
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(paper): update PDF page header to June 2026
  metadata.yaml
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  paper.docx
  paper.html
  paper.manual.docx
  paper.manual.pages
  paper.pages
  paper.pdf
  paper.tex
Due: validate-jmir-compliance
