Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

sync-ai-config:
  name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
  entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
  language: python
  pass_filenames: false
  stages:
  - pre-commit

claude-md-frontmatter:
  name: Check CLAUDE.md has YAML frontmatter
  entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

feat(ci-cd): complete T026-T029 - CI/CD setup and comprehensive documentation
  .github/workflows/container-build.yml
  .github/workflows/lit-review-ci.yml
  .zenodo.json
  CITATION.cff
  Containerfile.lit_review
  docs/lit_review_container.md
  docs/lit_review_setup.md
  docs/lit_review_workflow.md
  lit_review/README.md
Due: none

chore: update coverage report after completing all tests
  coverage.json
Due: none

docs: update CLAUDE.md with lit_review tool documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(lit_review): remove unused type ignore comments in analyze_themes.py
  lit_review/application/usecases/analyze_themes.py
Due: none

style(tests): format performance test files with ruff
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

fix(tests): address Copilot review comments
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

fix(analyze_themes): correct matrix indexing in theme relationships
  lit_review/application/usecases/analyze_themes.py
Due: none

fix(types): add type ignore comments for CI mypy compatibility
  lit_review/infrastructure/adapters/pubmed_adapter.py
  lit_review/infrastructure/ai/claude_analyzer.py
  pyproject.toml
Due: none

fix(mypy): add ignore_missing_imports for scipy and sklearn
  pyproject.toml
Due: none

ci: run tests in Docker container for environment consistency
  .github/workflows/lit-review-ci.yml
Due: none

docs(copilot-instructions): update for container-based CI/CD
  .github/copilot-instructions.md
Due: none

test: mark environment-sensitive tests as integration
  tests/lit_review/infrastructure/adapters/test_arxiv_adapter.py
  tests/lit_review/infrastructure/adapters/test_crossref_adapter.py
  tests/lit_review/infrastructure/adapters/test_pubmed_adapter.py
  tests/lit_review/infrastructure/adapters/test_semantic_scholar_adapter.py
  tests/lit_review/infrastructure/ai/test_claude_analyzer.py
  tests/lit_review/infrastructure/persistence/test_json_repository.py
Due: none

docs(CLAUDE.md): sync with canonical copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

chore: mark workflow v5 upgrade complete and fix formatting
  planning/workflow-upgrade-plan.md
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

docs(CLAUDE.md): add testing commands for single test and integration marker
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

chore: update pre-commit ruff to v0.14.8 and fix formatting
  .pre-commit-config.yaml
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

docs(planning): add workflow-test-coverage planning documents
  planning/workflow-test-coverage/ARCHIVED/CLAUDE.md
  planning/workflow-test-coverage/ARCHIVED/README.md
  planning/workflow-test-coverage/CLAUDE.md
  planning/workflow-test-coverage/README.md
  planning/workflow-test-coverage/architecture.md
  planning/workflow-test-coverage/epics.md
  planning/workflow-test-coverage/requirements.md
Due: claude-md-frontmatter

docs(spec): add SpecKit specifications for workflow-test-coverage
  specs/workflow-test-coverage/ARCHIVED/CLAUDE.md
  specs/workflow-test-coverage/ARCHIVED/README.md
  specs/workflow-test-coverage/CLAUDE.md
  specs/workflow-test-coverage/README.md
  specs/workflow-test-coverage/plan.md
  specs/workflow-test-coverage/spec.md
Due: claude-md-frontmatter

docs(spec): populate concrete task breakdown for workflow-test-coverage
  specs/workflow-test-coverage/plan.md
Due: none

docs(planning): add fix-paper-references planning documents
  planning/fix-paper-references/ARCHIVED/CLAUDE.md
  planning/fix-paper-references/ARCHIVED/README.md
  planning/fix-paper-references/CLAUDE.md
  planning/fix-paper-references/README.md
  planning/fix-paper-references/architecture.md
  planning/fix-paper-references/epics.md
  planning/fix-paper-references/requirements.md
Due: claude-md-frontmatter

docs: update validation report with current reference status
  docs/validation_report.md
Due: none

test(skills): add 289 unit tests for workflow skills
  pyproject.toml
  pytest.ini
  tests/skills/CLAUDE.md
  tests/skills/conftest.py
  tests/skills/test_azure_adapter.py
  tests/skills/test_github_adapter.py
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_quality_gates.py
  tests/skills/test_release_integration.py
  tests/skills/test_release_workflow.py
  tests/skills/test_semantic_version.py
  tests/skills/test_vcs_provider.py
  uv.lock
Due: claude-md-frontmatter

docs(spec): add SpecKit specifications for fix-paper-references
  specs/fix-paper-references/ARCHIVED/CLAUDE.md
  specs/fix-paper-references/ARCHIVED/README.md
  specs/fix-paper-references/CLAUDE.md
  specs/fix-paper-references/README.md
  specs/fix-paper-references/plan.md
  specs/fix-paper-references/spec.md
Due: claude-md-frontmatter

docs(plan): replace template with concrete tasks for fix-paper-references
  specs/fix-paper-references/plan.md
Due: none

feat(paper): fix references - remove hallucinated, verify all citations
  docs/validation_report.md
  paper.md
  specs/fix-paper-references/claims_analysis.md
  specs/fix-paper-references/reference_verification.md
  specs/fix-paper-references/validation_baseline.txt
Due: none

docs(CLAUDE.md): update citation count from 111 to 18 verified
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs: address PR review feedback
  docs/validation_report.md
  specs/fix-paper-references/spec.md
Due: none

docs: address critical PR review items
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
  specs/fix-paper-references/spec.md
Due: sync-ai-config, claude-md-frontmatter

docs(README): update citation count from 111+ to 18 verified
  README.md
Due: none

docs(planning): add BMAD planning for PDF generation pipeline
  planning/pdf-generation-pipeline/ARCHIVED/CLAUDE.md
  planning/pdf-generation-pipeline/ARCHIVED/README.md
  planning/pdf-generation-pipeline/CLAUDE.md
  planning/pdf-generation-pipeline/README.md
  planning/pdf-generation-pipeline/architecture.md
  planning/pdf-generation-pipeline/epics.md
  planning/pdf-generation-pipeline/requirements.md
Due: claude-md-frontmatter

build(container): upgrade to Python 3.12 and fix venv isolation
  Containerfile
  podman-compose.yml
Due: none

docs(CLAUDE.md): update CI/CD section for Python 3.12 and container venv
  .claude-state/bmad-config-pdf-generation-pipeline.json
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(pdf-generation): address PR #265 review feedback
  Containerfile
  scripts/build_paper.sh
Due: none

fix(container): use temp file for Eisvogel download to handle GitHub redirects
  Containerfile
Due: none

fix(eisvogel): downgrade to v3.3.0 (v3.5.0 doesn't exist)
  Containerfile
  scripts/build_paper.sh
Due: none

Path conditions:
  sync-ai-config: any of: ^(CLAUDE\.md|\.claude/)
  claude-md-frontmatter: any of: CLAUDE\.md$
  skill-structure: any of: ^\.claude/skills/
