Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

gemini-md-frontmatter:
  name: Check GEMINI.md has YAML frontmatter
  entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

validate-jmir-compliance:
  name: Validate JMIR compliance
  entry: python scripts/validate_jmir_compliance.py
  language: python
  pass_filenames: false

docs: update search concepts with targeted queries
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

docs: consolidate search results into Table 1 and remove redundant text
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs: minimize clinical proxy measures and refine evidence base
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: incorporate Nashid 2023 paper and correct citation key
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: validate-jmir-compliance

docs: refine evidence synthesis intro to reflect iterative framework
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: correct line style in architecture figure
  figures/architecture.mmd
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.docx
  paper.pdf
Due: none

docs: correct cycle edge style in knowledge-cycle figure
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.docx
  paper.pdf
Due: none

docs: split Table 1 to separate search concepts for better readability
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: merge table 1 supplement into caption for compactness
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: reconcile corpus counts in text and figure 3
  figures/literature-flow.mmd
  figures/literature-flow.mmd.png
  figures/literature-flow.mmd.svg
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  scripts/count_citations.py
Due: spdx-headers, validate-jmir-compliance

docs: regenerate literature flow figure to reflect updated counts
  paper.docx
  paper.pdf
Due: none

docs: replace hardcoded source counts with generic terms in text
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add Rowley (2007) citation for DIKW hierarchy
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: validate-jmir-compliance

docs: add knowledge management citations to theoretical grounding
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts after theoretical grounding update
  paper.docx
  paper.pdf
Due: none

docs: explicitly anchor framework to knowledge management theory
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: condense AACODS table and update citation tags
  paper.docx
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: refresh artifacts to reflect Table 2 and citation updates
  paper.docx
  paper.pdf
Due: none

docs: fix table cross-reference syntax
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: finalize table formatting and referencing
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: condense AACODS table to single-line rows with consistent separators
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: match Table 2 title formatting to Table 1 and separate footnotes
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

Path conditions:
  gemini-md-frontmatter: any of: GEMINI\.md$
  skill-structure: any of: ^\.gemini/skills/
  spdx-headers: any of: \.py$
  validate-jmir-compliance: any of: ^(paper\.md|metadata\.yaml)$
