Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Sync AI configuration files (CLAUDE.md → AGENTS.md, .agents/)
      # This hook runs FIRST to ensure derived files are synced before other checks
      - id: sync-ai-config
        name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
        entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
        language: python
        files: ^(CLAUDE\.md|\.claude/)
        pass_filenames: false
        stages: [pre-commit]

      # Check CLAUDE.md frontmatter
      - id: claude-md-frontmatter
        name: Check CLAUDE.md has YAML frontmatter
        entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
        language: python
        files: CLAUDE\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.claude/skills/
        pass_filenames: false

docs(planning): add workflow-test-coverage planning documents
  planning/workflow-test-coverage/ARCHIVED/CLAUDE.md
  planning/workflow-test-coverage/ARCHIVED/README.md
  planning/workflow-test-coverage/CLAUDE.md
  planning/workflow-test-coverage/README.md
  planning/workflow-test-coverage/architecture.md
  planning/workflow-test-coverage/epics.md
  planning/workflow-test-coverage/requirements.md
Due: claude-md-frontmatter

docs(planning): add fix-paper-references planning documents
  planning/fix-paper-references/ARCHIVED/CLAUDE.md
  planning/fix-paper-references/ARCHIVED/README.md
  planning/fix-paper-references/CLAUDE.md
  planning/fix-paper-references/README.md
  planning/fix-paper-references/architecture.md
  planning/fix-paper-references/epics.md
  planning/fix-paper-references/requirements.md
Due: claude-md-frontmatter

docs(spec): populate concrete task breakdown for workflow-test-coverage
  specs/workflow-test-coverage/plan.md
Due: none

chore: mark workflow v5 upgrade complete and fix formatting
  planning/workflow-upgrade-plan.md
  tests/lit_review/performance/test_analysis_performance.py
  tests/lit_review/performance/test_search_performance.py
Due: none

docs(CLAUDE.md): add testing commands for single test and integration marker
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs: update validation report with current reference status
  docs/validation_report.md
Due: none

docs(spec): add SpecKit specifications for workflow-test-coverage
  specs/workflow-test-coverage/ARCHIVED/CLAUDE.md
  specs/workflow-test-coverage/ARCHIVED/README.md
  specs/workflow-test-coverage/CLAUDE.md
  specs/workflow-test-coverage/README.md
  specs/workflow-test-coverage/plan.md
  specs/workflow-test-coverage/spec.md
Due: claude-md-frontmatter

docs: update author info and add Nature Portfolio journals as primary targets
  docs/journal-submission-guide.md
  paper.md
Due: none

fix(eisvogel): downgrade to v3.3.0 (v3.5.0 doesn't exist)
  Containerfile
  scripts/build_paper.sh
Due: none

docs: track HTML/DOCX/TEX output formats, add HTML paper
  .gitignore
  docs/YuiQuery-Healthcare-Analytics-Research.html
Due: none

docs: render mermaid architecture diagram as figure
  figures/architecture.mmd
  figures/architecture.png
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs(planning): add BMAD planning for PDF generation pipeline
  planning/pdf-generation-pipeline/ARCHIVED/CLAUDE.md
  planning/pdf-generation-pipeline/ARCHIVED/README.md
  planning/pdf-generation-pipeline/CLAUDE.md
  planning/pdf-generation-pipeline/README.md
  planning/pdf-generation-pipeline/architecture.md
  planning/pdf-generation-pipeline/epics.md
  planning/pdf-generation-pipeline/requirements.md
Due: claude-md-frontmatter

docs: update paper title, remove YuiQuery branding, add PDFs
  .gitignore
  docs/references/20250905_Anthropic_Code-Modernization-Playbook.pdf
  paper.md
  paper.pdf
Due: none

docs: use professional architecture diagram (optimized JPEG)
  figures/architecture.jpg
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs: address critical PR review items
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
  specs/fix-paper-references/spec.md
Due: sync-ai-config, claude-md-frontmatter

docs(README): update citation count from 111+ to 18 verified
  README.md
Due: none

docs: regenerate paper outputs with new title
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs: address PR review feedback
  docs/validation_report.md
  specs/fix-paper-references/spec.md
Due: none

build(container): upgrade to Python 3.12 and fix venv isolation
  Containerfile
  podman-compose.yml
Due: none

docs(CLAUDE.md): update citation count from 111 to 18 verified
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(spec): add SpecKit specifications for fix-paper-references
  specs/fix-paper-references/ARCHIVED/CLAUDE.md
  specs/fix-paper-references/ARCHIVED/README.md
  specs/fix-paper-references/CLAUDE.md
  specs/fix-paper-references/README.md
  specs/fix-paper-references/plan.md
  specs/fix-paper-references/spec.md
Due: claude-md-frontmatter

docs: update paper date to December 2025
  metadata.yaml
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

style: replace em-dashes with commas
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs(plan): replace template with concrete tasks for fix-paper-references
  specs/fix-paper-references/plan.md
Due: none

docs: add publication strategy and npj Digital Medicine policies
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/journal-submission-guide.md
  docs/validation_report.md
  npj_digital-medicine_about.md
  npj_digital-medicine_about_calls-papers.md
  npj_digital-medicine_about_editorial-policies.md
Due: sync-ai-config, claude-md-frontmatter

fix: preserve figure aspect ratio with LaTeX keepaspectratio
  metadata.yaml
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

fix: remove author from footer, keep only centered page number
  metadata.yaml
  paper.docx
  paper.pdf
  paper.tex
Due: none

docs(CLAUDE.md): update CI/CD section for Python 3.12 and container venv
  .claude-state/bmad-config-pdf-generation-pipeline.json
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(pdf-generation): address PR #265 review feedback
  Containerfile
  scripts/build_paper.sh
Due: none

fix: use month/year in header instead of daily date
  metadata.yaml
  paper.docx
  paper.pdf
  paper.tex
Due: none

docs: paper refinements and dual licensing
  LICENSE
  metadata.yaml
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

chore: remove unused mermaid architecture diagram
  figures/architecture.png
Due: none

fix(container): use temp file for Eisvogel download to handle GitHub redirects
  Containerfile
Due: none

feat(paper): fix references - remove hallucinated, verify all citations
  docs/validation_report.md
  paper.md
  specs/fix-paper-references/claims_analysis.md
  specs/fix-paper-references/reference_verification.md
  specs/fix-paper-references/validation_baseline.txt
Due: none

fix: remove 'true' from PDF title page
  metadata.yaml
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs: add generated paper files for v1.10.0
  metadata.yaml
  paper.docx
  paper.html
  paper.pdf
  paper.tex
  scripts/build_paper.sh
Due: none

docs: add market dynamics section and npj required sections
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

chore: remove duplicate HTML, reference root paper files
  docs/CLAUDE.md
  docs/YuiQuery-Healthcare-Analytics-Research.html
Due: claude-md-frontmatter
