Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure, spdx-headers

sync-ai-config:
  name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
  entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
  language: python
  pass_filenames: false
  stages:
  - pre-commit

claude-md-frontmatter:
  name: Check CLAUDE.md has YAML frontmatter
  entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .claude/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

docs(paper): integrate SECI model research findings
  docs/references/Research_Questions.md
  paper.md
Due: none

docs(paper): mark knowledge portal research as merged via [A25]
  docs/references/Research_Questions.md
Due: none

docs(research): mark standardization failures as already merged
  docs/references/Research_Questions.md
Due: none

docs(research): mark financial benefits as already merged
  docs/references/Research_Questions.md
Due: none

docs(paper): update citation counts to 92 (81 academic, 11 industry)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
  figures/literature-flow.mmd
  paper.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): address PR review comments
  paper.md
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(research): answer 4 Paper1 data quality questions
  docs/references/Research_Questions.md
  docs/references/Research_how-common-are-undocumented-database-schemas-in-healthcare-organizations.md
  docs/references/Research_what-evidence-exists-that-domain-expertise-is-required-to-identify-data-quality-issues-in-healthcare-databases.md
  docs/references/Research_what-is-the-prevalence-of-data-quality-issues-in-healthcare-databases-and-how-does-this-vary-by-organizational-analytics-maturity.md
  docs/references/Research_what-is-the-relationship-between-healthcare-analytics-maturity-levels-and-data-quality-metrics.md
Due: none

docs(research): add industry sources to partial Paper1 questions
  docs/references/Research_Questions.md
  docs/references/Research_What-methodology-has-been-used-to-measure-citizen-developer-productivity-in-healthcare-contexts.md
  docs/references/Research_what-quantitative-evidence-links-himss-amam-stages-to-patient-outcomes-or-organizational-performance.md
Due: none

fix(CLAUDE.md): correct research tracking documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs: add HIMSS AMAM research and update tracking documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Research_Questions.md
  docs/references/Research_what-quantitative-evidence-links-himss-amam-stages-to-patient-outcomes-or-organizational-performance.md
Due: sync-ai-config, claude-md-frontmatter

docs(CLAUDE.md): clarify citation range notation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

feat(paper): migrate to pandoc-citeproc for automatic citations
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  citation-style.csl
  metadata.yaml
  paper.html
  paper.md
  references.bib
  scripts/build_paper.sh
  scripts/citation_key_mapping.json
  scripts/convert_inline_citations.py
  scripts/convert_references_to_bibtex.py
  scripts/validate_references.py
Due: sync-ai-config, claude-md-frontmatter, spdx-headers

fix(paper): address PR review comments for citation system
  paper.md
  references.bib
  scripts/citation_key_mapping.json
  scripts/convert_inline_citations.py
  scripts/convert_references_to_bibtex.py
  scripts/validate_references.py
  tests/test_validate_references.py
Due: spdx-headers

docs(CLAUDE.md): remove legacy citation format from overview
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

feat(paper): add Data Quality subsection with 16 new citations
  docs/references/Research_Questions.md
  paper.md
  references.bib
Due: none

feat(paper): clarify thesis and add validated query cycle mechanism
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  paper.md
  paper.pdf
Due: none

feat(paper): apply JMIR Medical Informatics compliance formatting
  citation-style-ama.csl
  metadata.yaml
  paper.md
  paper.pdf
  scripts/extract_abbreviations.py
  scripts/validate_jmir_compliance.py
Due: spdx-headers

docs(CLAUDE.md): update for JMIR compliance and AMA CSL
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: sync-ai-config, claude-md-frontmatter

test(scripts): add tests for JMIR validation and abbreviation scripts
  scripts/extract_abbreviations.py
  tests/test_extract_abbreviations.py
  tests/test_validate_jmir_compliance.py
Due: spdx-headers

refactor(scripts): address PR review nice-to-have improvements
  .pre-commit-config.yaml
  scripts/abbreviations.json
  scripts/extract_abbreviations.py
  scripts/validate_jmir_compliance.py
  tests/test_extract_abbreviations.py
Due: spdx-headers

fix(paper): correct Figure 3 reference for literature-flow diagram
  paper.md
Due: none

style(figures): format Figure 2 to match grayscale theme
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
Due: none

fix(paper): convert Table 3 to markdown for citation rendering
  paper.html
  paper.md
  paper.tex
Due: none

docs(paper): add two confirmed research gaps to Gaps section
  paper.html
  paper.md
  paper.tex
Due: none

fix(paper): remove duplicate Future Research Directions section
  paper.html
  paper.md
  paper.tex
Due: none

fix(paper): remove contradictory funding statement
  paper.html
  paper.md
  paper.tex
Due: none

fix(paper): update correspondence to email address
  paper.html
  paper.md
  paper.tex
Due: none

style(figures): restructure Figure 2 with LR subgraphs stacked vertically
  figures/knowledge-cycle.mmd
Due: none

style(figures): remove ignored LR directives, reduce Figure 2 to 50% width
  figures/knowledge-cycle.mmd
  paper.md
  paper.tex
Due: none

style(figures): shorten Figure 2 subgraph title to prevent word wrap
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

style(figures): reframe pillars as advancement goals
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(CLAUDE.md): update citation count to 108, test count to 796
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): address PR review comments
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: none

docs(submission): add JMIR cover letter and submission checklist
  submission/cover-letter.md
  submission/submission-checklist.md
Due: none

feat(validation): add comprehensive JMIR compliance checks
  scripts/validate_jmir_compliance.py
  tests/test_validate_jmir_compliance.py
Due: spdx-headers

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

Path conditions:
  sync-ai-config: any of: ^(CLAUDE\.md|\.claude/)
  claude-md-frontmatter: any of: CLAUDE\.md$
  skill-structure: any of: ^\.claude/skills/
  spdx-headers: any of: \.py$
