Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure

sync-ai-config:
  name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
  entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
  language: python
  pass_filenames: false
  stages:
  - pre-commit

claude-md-frontmatter:
  name: Check CLAUDE.md has YAML frontmatter
  entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

fix(paper): address PR review comments
  figures/literature-flow.jpg
  figures/literature-flow.mmd
  paper.md
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(CLAUDE.md): document JPG figure generation strategy
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(CLAUDE.md): add cross-platform figure generation commands
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs(figures): update literature flow diagram with verified counts
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

chore(figures): remove deprecated gemini architecture files
  figures/architecture-gemini.jpg
  figures/architecture-gemini.mmd
Due: none

style(figures): unify color palette across all diagrams
  figures/architecture.jpg
  figures/architecture.mmd
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

docs(figures): align literature-flow with PRISMA 2020 standard
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

docs(figures): remove peer-reviewed and industry reports nodes
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

docs(figures): remove redundant "reports sought" node
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

docs(figures): simplify literature-flow diagram structure
  figures/literature-flow.jpg
  figures/literature-flow.mmd
Due: none

docs(research): add new literature review files and update tracking
  docs/references/Research_Analytics_Database-Make-Messy.md
  docs/references/Research_Analytics_NL2SQL-Benchmarks.md
  docs/references/Research_Analytics_NL2SQL-Datasets.md
  docs/references/Research_How-do-existing-app.md
  docs/references/Research_How-do-existing-approaches-validate-discovered-database-relationships-precision-recall.md
  docs/references/Research_Questions_Paper-2.md
  docs/references/Research_What-NL2SQL-systems-have-been-applied-to-healthcare-databases.md
  docs/references/Research_What-algorithms-exist-for-automatic-primary-foreign-key-discovery-from-database-metadata.md
  docs/references/Research_What-is-the-knowledge-portal-paradigm-and-how-has-it-been-implemented.md
  docs/references/Research_has-schema-discovery-been-applied-to-healthcare-databases-specifically.md
Due: none

docs(research): align GitHub issues with Research_Questions.md
  docs/references/Research_Questions.md
Due: none

docs: update CLAUDE.md with publication strategy and key documents
  .claude/commands/scholar/search-scholar.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Research_How-have-vector-embeddings-been-used-for-schema-matching-or-column-selection.md
  docs/references/Research_Questions_Paper-2.md
Due: sync-ai-config, claude-md-frontmatter

docs(research): clarify scope notation to avoid priority confusion
  docs/references/Research_Questions.md
Due: none

docs(figures): add CLAUDE.md and standardize naming convention
  figures/CLAUDE.md
  figures/literature-flow.mmd
  figures/literature-flow.mmd.dot
  figures/literature-flow.mmd.dot.svg
  figures/literature-flow.mmd.svg
  figures/literature-flow.svg
Due: claude-md-frontmatter

docs(research): add citizen developer productivity research + rename skill
  .claude/commands/CLAUDE.md
  .claude/commands/scholar/research-question.md
  docs/references/Research_Questions.md
  docs/references/Research_What-methodology-has-been-used-to-measure-citizen-developer-productivity-in-healthcare-contexts.md
Due: sync-ai-config, claude-md-frontmatter

docs(research): add scope column to Research_Questions.md
  docs/references/Research_Questions.md
Due: none

docs(research): add SECI, healthcare AI cost, and NL2SQL productivity research
  docs/references/Research_How-does-Nonakas-SECI-model-apply-to-organizational knowledge-capture-in-analytics.md
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-exists-for-NL2SQL-productivity-gains-compared-to-traditional-SQL.md
  docs/references/Research_What-peer-reviewed-evidence-exists-for-cost-reductions-from-healthcare-AI-low-code-implementations.md
Due: none

docs(paper): improve paper clarity and reorganize research tracking
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  docs/references/Research_Do-healthcare-organizations-struggle-to-keep-pace-with-changes-in-analytics.md
  docs/references/Research_How-do-existing-app.md
  docs/references/Research_Questions.md
  docs/references/Research_Questions_Paper-2.md
  docs/references/Research_What-NL2SQL-datasets-exist-for-healthcare.md
  docs/references/Research_What-accuracy-rates-have-been-achieved-for-NL2SQL-on-clinical-data.md
  docs/references/Research_What-are-the-financial-benefits-of-low-code-and-conversational-AI-platforms.md
  docs/references/Research_What-core-components-define-an-effective-institutional-knowledge-portal.md
  docs/references/Research_What-is-the-average-tenure-for-IT-staff-at-healthcare-provider-institutions.md
  docs/references/Research_What-is-the-average-time-to-train-a-healthcare-IT-employee.md
  docs/references/Research_What-is-the-cost-of-turnover-in-terms-of-annual-salary.md
  docs/references/Research_What-tools-exist-for-degrading-data-quality-for-testing.md
  docs/references/Research_Why-have-large-scale-efforts-to-standardize-healthcare-analytics-failed.md
  paper.md
Due: sync-ai-config, claude-md-frontmatter

docs(CLAUDE.md): add research question tracking documentation
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

feat(figures): add DOT/graphviz diagram generation for literature flow
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  Containerfile
  figures/generate_literature_flow.py
  figures/literature-flow.dot
  figures/literature-flow.dot.svg
  figures/literature-flow.mmd
  figures/literature-flow.svg
  pyproject.toml
  uv.lock
Due: sync-ai-config, claude-md-frontmatter

docs(budget): add detailed publication costs and decision points
  project-management.md
Due: none

docs(paper2): add detailed work breakdown and sync project management
  ARCHIVED/20251218T044737Z_DECISION_LOG.json
  docs/references/Research_Questions_Paper-2.md
  project-management.md
  status-updates.md
Due: none

docs(specs): add interactive-paper-editor specifications
  specs/interactive-paper-editor/CLAUDE.md
  specs/interactive-paper-editor/README.md
  specs/interactive-paper-editor/plan.md
  specs/interactive-paper-editor/spec.md
Due: claude-md-frontmatter

docs(specs): add research-session specifications
  specs/research-session/CLAUDE.md
  specs/research-session/README.md
  specs/research-session/plan.md
  specs/research-session/spec.md
Due: claude-md-frontmatter

docs(research): add semantic table/column matching + validate Paper1 gaps
  docs/references/Research_Questions.md
  docs/references/Research_What-evidence-exists-for-NL2SQL-productivity-gains-compared-to-traditional-SQL.md
  docs/references/Research_What-methodology-has-been-used-to-measure-citizen-developer-productivity-in-healthcare-contexts.md
  docs/references/Research_semantic-table-column-matching-nl2sql.md
Due: none

fix(agentdb): use shared main repo AgentDB across all worktrees
  .agents/agentdb-state-manager/scripts/init_database.py
  .agents/agentdb-state-manager/scripts/query_workflow_state.py
  .agents/agentdb-state-manager/scripts/record_sync.py
  .agents/workflow-utilities/scripts/worktree_context.py
  .claude/skills/agentdb-state-manager/scripts/init_database.py
  .claude/skills/agentdb-state-manager/scripts/query_workflow_state.py
  .claude/skills/agentdb-state-manager/scripts/record_sync.py
  .claude/skills/workflow-utilities/scripts/worktree_context.py
Due: sync-ai-config, skill-structure

Path conditions:
  sync-ai-config: any of: ^(CLAUDE\.md|\.claude/)
  claude-md-frontmatter: any of: CLAUDE\.md$
  skill-structure: any of: ^\.claude/skills/
