Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-ai-config, claude-md-frontmatter, skill-structure, spdx-headers

sync-ai-config:
  name: Sync AI configuration (CLAUDE.md → AGENTS.md, .agents/)
  entry: python .claude/skills/workflow-utilities/scripts/sync_ai_config.py sync
  language: python
  pass_filenames: false
  stages:
  - pre-commit

claude-md-frontmatter:
  name: Check CLAUDE.md has YAML frontmatter
  entry: python .claude/skills/workflow-utilities/scripts/check_claude_md_frontmatter.py
  language: python
  pass_filenames: false

skill-structure:
  name: Verify skill directory structure
  entry: python .claude/skills/workflow-utilities/scripts/check_skill_structure.py
  language: python
  pass_filenames: false

spdx-headers:
  name: Check SPDX license headers
  entry: python .claude/skills/workflow-utilities/scripts/check_spdx_headers.py
  language: python
  pass_filenames: false

fix(validation): address PR review comments
  scripts/validate_jmir_compliance.py
  submission/submission-checklist.md
  tests/test_validate_jmir_compliance.py
Due: spdx-headers

fix(validation): address Code Review Findings
  scripts/validate_jmir_compliance.py
  submission/submission-checklist.md
Due: spdx-headers

fix(paper): reframe thesis to framework-first approach
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  paper.md
  submission/cover-letter.md
Due: sync-ai-config, claude-md-frontmatter

fix(CLAUDE.md): correct BibTeX entry count to 108
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(paper): address PR review comments on solution-advocacy language
  paper.md
Due: none

fix(paper): address P0 review feedback on Table 4 and Implementation section
  paper.md
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): address minor review suggestions
  paper.md
Due: none

fix(ci): address workflow failures for protected branches
  .github/workflows/container-build.yml
  .github/workflows/pdf-generation.yml
Due: none

refactor(ci): simplify auto-commit condition per review feedback
  .github/workflows/pdf-generation.yml
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

fix(ci): prevent label re-application on unlabel events
  .github/workflows/issue-automation.yml
  docs/journal-submission-guide.md
Due: none

feat(refs): add git-crypt encryption for reference PDFs
  .gitattributes
  .gitignore
  docs/references/A10_2004_Ang_ACM-SIGMIS_Turnover-IT.pdf
  docs/references/A11_2013_Ledikwe_HR-For-Health_Health-Information-Workforce.pdf
  docs/references/A12_2010_Mantas_Methods-Informatics-Medicine_IMIA-Recommendations.pdf
  docs/references/A13_2023_Musa_JMDH_Training-EHR.pdf
  docs/references/A1_2024_Wu_IJNS_Nursing-Turnover.pdf
  docs/references/A2_2024_Ren_Nursing-Management_Nursing-Turnover.pdf
  docs/references/A3_2023_Lee_arxiv_EHRSQL.pdf
  docs/references/A4_2023_Navarro_Medical-Informatics_Clinical-Entity-Recognition.pdf
  docs/references/A5_2019_Wang_arxiv_Medical-NL2SQL.pdf
  docs/references/A6_2024_Ziletti_arxiv_EHR-RAG-NL2SQL.pdf
  docs/references/A7_2018_Kamble_Healthcare-Management_Organizational-Readiness.pdf
  docs/references/A8_2024_MedAgentBench_NEJM-AI.pdf
  docs/references/A9_2024_Chen_NPJ-Digital-Medicine_Versatile-LLMs.pdf
  docs/references/I10_2021_CNBC_Amazon-Berkshire-JPMorgan-Disbanded.pdf
  docs/references/I11_2023_AHIMA-NORC_Health-Information-Workforce-Survey.pdf
  docs/references/I1_2024_HIMSS_AMAM.pdf
  docs/references/I3_2020_Health-Catalyst_Healthcare-Analytics-Adoption.pdf
  docs/references/I4_2024_UK-NHS_Citizen-Developer-Programme.pdf
  docs/references/I5_2024_Forrester_ROI-Microsoft-Power-Apps.pdf
  docs/references/I6_2024_Oracle_Healthcare-Turnover-Cost.pdf
  docs/references/I7_2024_Precedence-Research_Healthcare-Analytics-Market.pdf
  docs/references/I8_2025_Anthropic_Code-Modernization-Playbook.pdf
  docs/references/I9_2022_IBM_IBM-Sells-Watson-Health.pdf
  docs/references/README.md
Due: none

docs(.claude): add missing CLAUDE.md for .claude directory
  .claude/CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

fix(refs): correct 7 erroneous DOIs and URLs in references.bib
  CLAUDE.md
  paper.md
  references.bib
Due: sync-ai-config, claude-md-frontmatter

refactor(refs): rename PDFs to AI-friendly format without prefixes
  docs/references/2004_Ang_ACM-SIGMIS_IT-Professional-Turnover.pdf
  docs/references/2010_Mantas_Methods-Informatics-Medicine_IMIA-Health-Informatics-Education.pdf
  docs/references/2013_Ledikwe_HR-For-Health_Health-Information-Workforce.pdf
  docs/references/2018_Kamble_Healthcare-Management_Big-Data-Organizational-Readiness.pdf
  docs/references/2019_Wang_arXiv_Medical-NL2SQL-MIMIC.pdf
  docs/references/2020_Health-Catalyst_Healthcare-Analytics-Adoption.pdf
  docs/references/2021_CNBC_Haven-Healthcare-Venture-Disbanded.pdf
  docs/references/2022_IBM_Watson-Health-Sale-Announcement.pdf
  docs/references/2023_AHIMA-NORC_Health-Information-Workforce-Survey.pdf
  docs/references/2023_Lee_arXiv_EHRSQL-Text-to-SQL-Benchmark.pdf
  docs/references/2023_Musa_JMDH_EHR-Training-Healthcare-Workers.pdf
  docs/references/2023_Navarro_Medical-Informatics_Clinical-NLP-EHR-Systematic-Review.pdf
  docs/references/2024_Forrester_ROI-Microsoft-Power-Apps.pdf
  docs/references/2024_HIMSS_Analytics-Maturity-Adoption-Model.pdf
  docs/references/2024_Oracle_Healthcare-Turnover-Cost-Report.pdf
  docs/references/2024_Precedence-Research_Healthcare-Analytics-Market-Forecast.pdf
  docs/references/2024_Ren_Nursing-Management_Nursing-Turnover-Systematic-Review.pdf
  docs/references/2024_UK-NHS_Citizen-Developer-Programme.pdf
  docs/references/2024_Wu_Nursing-Open_Nursing-Staff-Turnover-Meta-Analysis.pdf
  docs/references/2024_Ziletti_arXiv_EHR-RAG-NL2SQL.pdf
  docs/references/2025_Anthropic_Code-Modernization-Playbook.pdf
  docs/references/2025_Jiang_NEJM-AI_MedAgentBench-EHR-LLM-Agents.pdf
  docs/references/2025_Wu_npj-Digital-Medicine_Medical-LLM-Evaluation.pdf
Due: none

docs(CLAUDE.md): update paths for docs/ reorganization
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

refactor(docs): remove empty paper1/paper2/paper3 scaffolding
  CLAUDE.md
  docs/README.md
  docs/paper1/README.md
  docs/paper1/figures/.gitkeep
  docs/paper1/research/.gitkeep
  docs/paper2/README.md
  docs/paper2/figures/.gitkeep
  docs/paper2/research/.gitkeep
  docs/paper3/README.md
  docs/paper3/figures/.gitkeep
  docs/paper3/research/.gitkeep
Due: sync-ai-config, claude-md-frontmatter

docs: clarify when to use lit_review vs manual curation
  CLAUDE.md
  lit_review/README.md
Due: sync-ai-config, claude-md-frontmatter

docs(CLAUDE.md): update docs/ context for reorganized structure
  docs/CLAUDE.md
Due: claude-md-frontmatter

refactor: archive outdated TODO.md and RELEASE_NOTES files
  ARCHIVED/20260101T171838Z_RELEASE_NOTES_v1.2.0.md
  ARCHIVED/20260101T171838Z_RELEASE_NOTES_v1.3.0.md
  ARCHIVED/20260101T171838Z_TODO.md
Due: none

refactor: archive ppr_review and update CLAUDE.md references
  ARCHIVED/20260101T171859Z_ppr_review.zip
  CLAUDE.md
  ppr_review/20251215_AACODS-Grey-Literature.md
  ppr_review/20251215_Revision-Strategy-Milestones.md
  ppr_review/arxiv-submission-checklist.md
  ppr_review/expert-review-checklist.md
  ppr_review/osf-registration-draft.md
  ppr_review/zenodo-submission-checklist.md
Due: sync-ai-config, claude-md-frontmatter

refactor: archive obsolete sync scripts from scripts/
  ARCHIVED/20260101T172048Z_scripts_sync.zip
  scripts/SYNC_GUIDE.md
  scripts/github_project_sync.sh
  scripts/sync_github_todos.py
  scripts/sync_todos.sh
Due: spdx-headers

refactor: archive remaining planning/ files and remove directory
  ARCHIVED/20260101T172213Z_planning_remaining-files.zip
  planning/reference-validation-config.json
  planning/workflow-upgrade-plan.md
Due: none

chore(archive): remove specs/ directory completely
  ARCHIVED/20260101T172405Z_specs_remaining-files.zip
  specs/CLAUDE.md
  specs/README.md
Due: claude-md-frontmatter

docs(CLAUDE.md): add archived directories to YAML frontmatter
  CLAUDE.md
Due: sync-ai-config, claude-md-frontmatter

docs(README): align with CLAUDE.md accuracy
  README.md
Due: none

refactor(tools): archive redundant workflow-utilities
  tools/ARCHIVED/20260101T180500Z_workflow-utilities.zip
  tools/CLAUDE.md
  tools/workflow-utilities/ARCHIVED/CLAUDE.md
  tools/workflow-utilities/ARCHIVED/README.md
  tools/workflow-utilities/__init__.py
  tools/workflow-utilities/archive_manager.py
  tools/workflow-utilities/directory_structure.py
  tools/workflow-utilities/validate_versions.py
Due: claude-md-frontmatter, spdx-headers

docs(project-management): sync README with main file and add CLAUDE.md
  project-management/CLAUDE.md
  project-management/README.md
  project-management/budget/ARCHIVED/CLAUDE.md
  project-management/budget/ARCHIVED/README.md
  project-management/budget/CLAUDE.md
  project-management/risks/ARCHIVED/CLAUDE.md
  project-management/risks/ARCHIVED/README.md
  project-management/risks/CLAUDE.md
  project-management/roles/ARCHIVED/CLAUDE.md
  project-management/roles/ARCHIVED/README.md
  project-management/roles/CLAUDE.md
Due: claude-md-frontmatter

BEGIN switch to Gemini from Claude
  docs/research/Research_Questions.md
  docs/research/Research_Why-did-Haven-the-Amazon-Berkshire-JPMorgan-healthcare-venture-disband-in-2021.md
  docs/research/Research_Why-did-IBM-sell-Watson-Health-to-Francisco-Partners-in-2022.md
  paper.md
  references.bib
  tools/CLAUDE.md
  tools/validation/CLAUDE.md
  tools/validation/README.md
Due: claude-md-frontmatter

Path conditions:
  sync-ai-config: any of: ^(CLAUDE\.md|\.claude/)
  claude-md-frontmatter: any of: CLAUDE\.md$
  skill-structure: any of: ^\.claude/skills/
  spdx-headers: any of: \.py$
