Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

docs: standardize table captions to match figure style
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

docs: consolidate TGH/CMUH Stage 7 validation details into AMAM24 context
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

docs: remove redundant phrasing in workforce turnover section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: explicit tenure references in workforce section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Pillar 2 synthesis section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix: add missing citation yang2025 to references.bib
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: validate-jmir-compliance

docs: use valid Berkshire 2024 citation for citizen developer claim
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix: update Pillar 3 ROI section to focus on analytics efficiency citations (Dadi, Yang, Shah)
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  references.bib
Due: validate-jmir-compliance

fix: add negative citations to Gaps section and restore bibliography
  paper.docx
  paper.html
  paper.md
  references.bib
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

build: regenerate paper artifacts (PDF, DOCX, HTML, TEX)
  paper.docx
  paper.pdf
Due: none

docs: update air-gapped to network-isolated in paper.md
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Deployment Constraint Mismatch section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Interconnected Challenges section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: broaden Limitations section scope to 3-pillar framework
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Implementation Complexity section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Context-Specific Customization Requirements section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Long-Term Outcome Uncertainties section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Governance and Quality Assurance Challenges section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add citations to Specialty-Specific Application Gaps section
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: rename Limitations section to Limitations of the Three-Pillar Framework
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

chore: deprecate legacy test files
  ARCHIVED/20260115T040428Z_older_claude_tests.py.zip
  older_perf_tests.py
  older_tests.txt
  older_workflow_tests.py
Due: spdx-headers

docs: rename Methodological Considerations to Limitations of the Review Methodology
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance
