Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

docs(figures): update caption files with full text from manuscript
  figures/architecture.mmd.caption.txt
  figures/knowledge-cycle.mmd.caption.txt
  figures/literature-flow.mmd.caption.txt
Due: none

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
Due: none

fix(paper): update terminology to 'NL-SQL-Rationale triples' and regenerate artifacts
  ARCHIVED/20260115_Confirmation_JMIR_Submitted.pdf
  ARCHIVED/20260115_Confirmation_JMIR_Submitted2.pdf
  figures/architecture.mmd
  figures/architecture.mmd.caption.txt
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.caption.txt
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  figures/literature-flow.mmd.png
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.manual.docx
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: add paper.pages artifact
  paper.pages
Due: none

fix(metadata): update author affiliation and ORCID for Zenodo validation
  .zenodo.json
  CITATION.cff
  metadata.yaml
  paper.md
Due: validate-jmir-compliance

fix(lit_review): handle None response from Gemini API to satisfy mypy
  lit_review/infrastructure/ai/gemini_analyzer.py
Due: spdx-headers

fix(ci): update uv PATH in Containerfile.lit_review
  Containerfile.lit_review
Due: none

fix(paper): refine formatting in Table 3
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs(pm): update status to reflect Paper 1 release v1.27.0
  project-management.md
Due: none

fix(paper): restore figure scaling and aspect ratio in generated LaTeX
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(build): update Containerfile to use pandoc 3.2 and regenerate artifacts
  Containerfile
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

docs: update GEMINI.md structure via workflow scripts
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

fix(metadata): update Zenodo and CITATION.cff for v1.28.0 release
  .zenodo.json
  CITATION.cff
Due: none

fix(docs): update version and citation in paper.md and README.md
  README.md
  paper.md
Due: validate-jmir-compliance

build: regenerate paper artifacts [skip ci]
  paper.docx
  paper.pdf
Due: none

fix(paper): restore keepaspectratio in LaTeX to fix image distortion
  paper.tex
Due: none

feat(paper2): initialize infrastructure documentation for GCP and Synthea
  docs/paper2/ARCHIVED/GEMINI.md
  docs/paper2/ARCHIVED/README.md
  docs/paper2/GEMINI.md
  docs/paper2/README.md
  docs/paper2/data/ARCHIVED/GEMINI.md
  docs/paper2/data/ARCHIVED/README.md
  docs/paper2/data/GEMINI.md
  docs/paper2/data/README.md
  docs/paper2/data/Synthea_Configuration.md
  docs/paper2/figures/ARCHIVED/GEMINI.md
  docs/paper2/figures/ARCHIVED/README.md
  docs/paper2/figures/GEMINI.md
  docs/paper2/figures/README.md
  docs/paper2/research/ARCHIVED/GEMINI.md
  docs/paper2/research/ARCHIVED/README.md
  docs/paper2/research/GCP_Architecture.md
  docs/paper2/research/GEMINI.md
  docs/paper2/research/README.md
Due: gemini-md-frontmatter

feat(paper2): design empirical validation framework
  docs/paper2/research/Validation_Framework.md
Due: none

docs: ensure GEMINI.md structure is up to date
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

docs: consolidate Paper 2/3 and update project status
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  project-management.md
  status-updates.md
Due: gemini-md-frontmatter, skill-structure

docs: finalize project management infrastructure for consolidated series
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  README.md
  project-management/budget/budget-final.json
Due: gemini-md-frontmatter, skill-structure

fix(release): bump version to 1.29.0 and restore paper.tex accessibility
  .zenodo.json
  CITATION.cff
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

docs: update GEMINI.md hierarchy and add SNAS correspondence
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  ARCHIVED/20260116_Email_Springer-Nature-Author-Services_Video-Byte.pdf
  ARCHIVED/20260116_Email_Springer-Nature-Author-Services_Visual-Abstract.pdf
  ARCHIVED/20260121_SNAS_Graphical_Abstract_Response.md
  ARCHIVED/20260121_SNAS_Video_Byte_Response.md
  ARCHIVED/20260121_SNAS_Video_Byte_Response.pdf
  config/header.html
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  package-lock.json
  paper.docx
  paper.html
  paper.pdf
  project-management/budget/budget-final.json
  scripts/build_paper.sh
Due: gemini-md-frontmatter, skill-structure

feat(paper): structural consolidation and cover letter update
  GEMINI.md
  docs/validation_report.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
  submission/cover-letter.docx
  submission/cover-letter.html
  submission/cover-letter.md
  submission/cover-letter.pdf
Due: gemini-md-frontmatter, validate-jmir-compliance

docs(GEMINI.md): explicitly allow generated submission artifacts
  GEMINI.md
Due: gemini-md-frontmatter

docs(GEMINI.md): update documentation references and hierarchy
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/ARCHIVED/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/GEMINI.md
  ARCHIVED/GEMINI.md
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
Due: gemini-md-frontmatter, skill-structure

docs(GEMINI.md): restore critical thesis instructions and context links per review
  GEMINI.md
Due: gemini-md-frontmatter

docs(GEMINI.md): update documentation references and hierarchy
  .gemini/skills/agentdb-state-manager/GEMINI.md
  .gemini/skills/git-workflow-manager/ARCHIVED/GEMINI.md
  .gemini/skills/git-workflow-manager/GEMINI.md
  .gemini/skills/initialize-repository/GEMINI.md
  .gemini/skills/tech-stack-adapter/ARCHIVED/GEMINI.md
  .gemini/skills/tech-stack-adapter/GEMINI.md
  .gemini/skills/workflow-orchestrator/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-orchestrator/GEMINI.md
  .gemini/skills/workflow-utilities/ARCHIVED/GEMINI.md
  .gemini/skills/workflow-utilities/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/ARCHIVED/GEMINI.md
  ARCHIVED/20260115_JMIR-Submission/GEMINI.md
Due: gemini-md-frontmatter, skill-structure

feat(paper): enhance short paper with details from long paper
  paper.md
Due: validate-jmir-compliance

feat(paper): deepen Validator Paradox discussion with theory from long paper
  paper.md
Due: validate-jmir-compliance

build: regenerate paper artifacts
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): address PR #492 comments (typography, image scaling)
  paper.html
  paper.md
  paper.tex
Due: validate-jmir-compliance

fix(paper): replace spaced hyphens with proper punctuation per review
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance
