Repository stharrold/yuimedi-paper-20250901: changes, and which pre-commit hooks are due for each by the changed paths.
All: gemini-md-frontmatter, skill-structure, spdx-headers, validate-jmir-compliance

.pre-commit-config.yaml:

# Pre-commit hooks for repository consistency
# Install: uv add --dev pre-commit && uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=10240']  # 10MB limit for figure assets
      - id: check-merge-conflict
      - id: detect-private-key

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks for repository-specific checks
  - repo: local
    hooks:
      # Check GEMINI.md frontmatter
      - id: gemini-md-frontmatter
        name: Check GEMINI.md has YAML frontmatter
        entry: python .gemini/skills/workflow-utilities/scripts/check_gemini_md_frontmatter.py
        language: python
        files: GEMINI\.md$
        pass_filenames: false

      # Verify skill directory structure
      - id: skill-structure
        name: Verify skill directory structure
        entry: python .gemini/skills/workflow-utilities/scripts/check_skill_structure.py
        language: python
        files: ^\.gemini/skills/
        pass_filenames: false

      # Check SPDX license headers on Python files
      - id: spdx-headers
        name: Check SPDX license headers
        entry: python .gemini/skills/workflow-utilities/scripts/check_spdx_headers.py
        language: python
        types: [python]
        pass_filenames: false

      # Validate JMIR Medical Informatics compliance
      - id: validate-jmir-compliance
        name: Validate JMIR compliance
        entry: python scripts/validate_jmir_compliance.py
        language: python
        files: ^(paper\.md|metadata\.yaml)$
        pass_filenames: false

fix: address PR #510 review comments from Copilot and Gemini
  .claude/skills/agentdb-state-manager/schemas/agentdb_sync_schema.sql
  .claude/skills/git-workflow-manager/ARCHIVED/CLAUDE.md
  .claude/skills/git-workflow-manager/ARCHIVED/README.md
  .claude/skills/git-workflow-manager/CHANGELOG.md
  .claude/skills/workflow-orchestrator/ARCHIVED/CLAUDE.md
  .claude/skills/workflow-orchestrator/ARCHIVED/README.md
  .claude/skills/workflow-orchestrator/CHANGELOG.md
  .claude/skills/workflow-orchestrator/CLAUDE.md
  .claude/skills/workflow-orchestrator/README.md
  .claude/skills/workflow-orchestrator/SKILL.md
  .claude/skills/workflow-utilities/ARCHIVED/CLAUDE.md
  .claude/skills/workflow-utilities/ARCHIVED/README.md
  .claude/skills/workflow-utilities/CLAUDE.md
  .claude/skills/workflow-utilities/scripts/create_skill.py
  .claude/skills/workflow-utilities/scripts/update_claude_references.py
  .github/workflows/tests.yml
  lit_review/infrastructure/ai/gemini_analyzer.py
  podman-compose.yml
  scripts/secrets_setup.py
  tests/lit_review/infrastructure/ai/test_gemini_analyzer.py
  uv.lock
Due: spdx-headers

fix: delete stale VCS tests and fix test collection errors
  tests/lit_review/infrastructure/ai/test_gemini_analyzer.py
  tests/skills/test_azure_adapter.py
  tests/skills/test_github_adapter.py
  tests/skills/test_vcs_provider.py
Due: spdx-headers

fix: update skills tests for new VCS API and exclude CI-incompatible tests
  .github/workflows/tests.yml
  tests/skills/test_pr_integration.py
  tests/skills/test_pr_workflow.py
  tests/skills/test_release_workflow.py
Due: spdx-headers

fix: resolve mypy union-attr errors in claude_analyzer.py
  lit_review/infrastructure/ai/claude_analyzer.py
Due: spdx-headers

fix: address second round of PR #510 review comments
  .claude/skills/workflow-utilities/scripts/create_skill.py
  .claude/skills/workflow-utilities/scripts/vcs/provider.py
  .github/workflows/tests.yml
  lit_review/infrastructure/ai/gemini_analyzer.py
  scripts/secrets_setup.py
Due: spdx-headers

docs: update CLAUDE.md with session learnings
  CLAUDE.md
Due: none

fix: address PR #511 review comments from Gemini and Copilot
  ARCHIVED/20260328T164334Z_implementation-plan_hil-sg-viewpoint-revisions-v2.md
  CLAUDE.md
  tools/run_scholar_workflow.py
Due: spdx-headers

fix(paper): restore original title for JMIR resubmission continuity
  cover-letter.md
  metadata.yaml
  paper.md
Due: validate-jmir-compliance

build(refs): add 18 new references from literature search and update date
  metadata.yaml
  paper.md
  references.bib
Due: validate-jmir-compliance

fix(paper): tighten language, reduce repetition, clarify evidence-claim boundary
  paper.md
Due: validate-jmir-compliance

feat(paper): add comparative analysis, governance tiers, NL2SQL gradient, framework alignment
  paper.md
Due: validate-jmir-compliance

feat(paper): enhance ARI with resilience literature, swap weak references
  paper.md
Due: validate-jmir-compliance

docs: rescope paper series and soften ARI deferral language
  ARCHIVED/20260328T184817Z_proposal_paper-series-rescoping.md
  paper.md
Due: validate-jmir-compliance

fix(ci): add pandoc and texlive to Containerfile for paper generation
  Containerfile
Due: none

fix: address PR #512 review comments from Gemini and Copilot
  CLAUDE.md
  cover-letter.md
  paper.md
  references.bib
Due: validate-jmir-compliance

fix: reconcile descriptive/prescriptive guidance in CLAUDE.md
  CLAUDE.md
Due: none

fix: address PR #515 review comments (round 2)
  ARCHIVED/20260328T184817Z_proposal_paper-series-rescoping.md
  paper.md
Due: validate-jmir-compliance

fix(refs): update nashid2023 URL and allowlist kalyanasundaram2025
  references.bib
  scripts/url_allowlist.json
Due: none

refactor(refs): remove 84 unused references from references.bib
  references.bib
Due: none

fix(paper): simplify figures and improve accessibility compliance
  figures/architecture.mmd
  figures/architecture.mmd.caption.txt
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.caption.txt
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.md
Due: validate-jmir-compliance

build: regenerate paper artifacts with readable figures
  figures/architecture.mmd.png
  figures/architecture.mmd.svg
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  multimedia_appendix_1.docx
  multimedia_appendix_1.html
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.html
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.pdf
  paper.tex
Due: none

fix(paper): update Author Contributions to CRediT taxonomy and align keywords with MeSH
  multimedia_appendix_1.docx
  multimedia_appendix_1.pdf
  multimedia_appendix_2.docx
  multimedia_appendix_2.pdf
  paper.docx
  paper.html
  paper.md
  paper.pdf
  paper.tex
Due: validate-jmir-compliance

fix(paper): add HiL-SG title to Figure 1 caption
  figures/architecture.mmd.caption.txt
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): clarify HiL-SG vs Validated Query Cycle relationship
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): switch Figure 2 to compact left-right layout
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.pdf
Due: none

fix(paper): revert Figure 2 to top-to-bottom layout with two subgroups
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.pdf
Due: none

fix(paper): Figure 2 use "analyst" not "expert", fix obscured subgraph titles
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.caption.txt
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): Figure 2 consistent subgraph titles (bold all-caps), title-case node headers
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.pdf
Due: none

fix(paper): Figure 2 fix truncated subgraph titles and spacing
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.pdf
Due: none

fix(paper): add extra nbsp padding to VALIDATED QUERY CYCLE title
  figures/knowledge-cycle.mmd
  figures/knowledge-cycle.mmd.png
  figures/knowledge-cycle.mmd.svg
  paper.pdf
Due: none

fix(paper): correct HotL (Human-on-the-Loop) to HITL (Human-in-the-Loop)
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): rename HiL-SG to HITL-SG (industry-standard acronym)
  CLAUDE.md
  cover-letter.md
  figures/architecture.mmd.caption.txt
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): rename Semantic Governance to Knowledge Governance (HITL-KG)
  CLAUDE.md
  cover-letter.md
  figures/architecture.mmd.caption.txt
  figures/knowledge-cycle.mmd.caption.txt
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): cite Foss 2007 foundational knowledge governance paper
  paper.md
  paper.pdf
  references.bib
Due: validate-jmir-compliance

fix(paper): reference Table 1 frameworks in Section 5.1, fix table numbers, add DIKW abbreviation
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): correct Table 2 -> Table 1 reference for framework alignment
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): add Table 1 reference in Section 2 where table appears
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): replace "antifragile" with "robust" in ARI scale
  paper.md
  paper.pdf
Due: validate-jmir-compliance

fix(paper): use "Fragile/Resilient" scale for ARI (matches instrument name)
  paper.md
  paper.pdf
Due: validate-jmir-compliance
